.option {
	@extend .td;
	@extend .vertical-align-middle;
	@extend .text-center;
	width: 250px;
	height: 200px;
	color: $white;
	text-decoration: none;
	font-size: 1.5em;
}

	.option i {
		color: $white;
	}

	.option:first-child {
		@include corners(3px, 0, 0, 3px);
		@include gradient($secondary);
		border: 1px solid $secondary;
	}

		.option:first-child:hover, .option:first-child:active, .option:first-child:focus {
			color: $white;
			@include gradient($secondary, darken($secondary, 3));
			border: 1px solid darken($secondary, 5);
		}

	.option:last-child {
		@include corners(0, 3px, 3px, 0);
		@include gradient($primary);
		border: 1px solid $primary;
	}

		.option:last-child:hover, .option:last-child:active, .option:last-child:focus {
			color: $white;
			@include gradient($primary, darken($primary, 3));
			border: 1px solid darken($primary, 5);
		}

	.option:active {
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	}