.inside_container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.top_section {
	width: 100%;
	text-align: center;
	position: relative;
}

#white_top {
	height: 160px;
	background: $white;
}

	.top_section #schools {
		position: absolute;
		bottom: 0px;
	}

	@media only screen and (max-width: 480px) {
		#dark_top {
			height: auto !important;
			padding: 0 5px;
		}

			#dark_top .btn:first-child {
				margin-top: 10px;
			}

		#white_top {
			height: 0;
		}

		.top_section #schools {
			position: relative;
			background: $white;
			padding: 10px 0;
		}
	}

#dark_top {
	height: 550px;
	background-color: $dark-grey;
	background: url('../img/crowd.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	#dark_top #logo {
		width: 90%;
		max-width: 500px;
		min-width: 250px;
	}

.index_button {
	display: inline-block;
	width: 250px !important;
}

.light_section {
	width: 100%;
}

.index_item > h3 {
	color: $dark-grey;
	font-size: 140%;
}

	.index_item > h3 > i {
		color: $primary;
	}

.index_item > p {
	color: $dark-grey;
}

@media only screen and (max-width: 480px) {
	.dark_section, .light_section {
		padding: 0 10px;
	}
}

.dark_section #white_header {
	color: $white;
}

.dark_section #grey_header {
	color: $border-grey;
}

#dark_bottom {
	text-align: left;
	background: $dark-grey;
}

#get_mobile {
	margin-top: 7%;
	padding-left: 40px;
}

	#get_mobile > a > .app_store {
		width: 100%;
		max-width: 197px;
		margin: 0 60px 0 0;
	}

	#get_mobile > a > .google_play {
		width: 100%;
		max-width: 196px;
	}

.phones {
	width: 100%;
	max-width: 225px;
	padding: 15px 0;
}

@media only screen and (max-width: 480px) {
	#dark_bottom {
		text-align: center;
	}

	#get_mobile {
		margin-top: 0;
		padding-left: 0;
	}

	#get_mobile > a > .app_store {
		margin: 0 0 15px 0;
	}

	#get_mobile > a > .google_play {
		margin: 0 0 15px 0;
	}
}

footer {
	width: 100%;
	background: $light-grey;
	color: $dark-grey;
	border-top: 1px solid $border-grey;
	padding: 15px 0;
}

	footer ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		-webkit-padding-start: 0;
	}

		footer ul li {
			display: inline;
			margin: 0 15px 0 0;
		}

		footer ul li:last-child {
			margin: 0;
		}

@media only screen and (max-width: 480px) {
	footer ul {
		display: inline-block;
		margin: 0 auto;
	}
	footer {
		text-align: center;
	}
}

.responsive_right {
	text-align: right;
}

.responsive_left {
	text-align: left;
}

@media only screen and (max-width: 480px) {
	.responsive_right, .responsive_left {
		text-align: center;
	}
}