// COLORS
$white: #fff;
$dark-grey: #232528;
$light-grey: #f5f5f5;
$border-grey: #e7e7e7;

$twitter-blue: #00abf0;
$fb-blue: #4c66a4;

$red: #cd0001;
$blue: #107bce;

$highlight: $red;
$muted-text: #9d9c9c;


// SPACING
$full-space: 20px;
$half-space: 10px;


// MIX-INS
@mixin transition($transition-property: all, $transition-time: 0.2s, $method: ease-in-out) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin corners($top-left: 3px, $top-right: 3px, $bottom-right: 3px, $bottom-left: 3px) {
  -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
   border-radius: $top-left $top-right $bottom-right $bottom-left;
}

@mixin gradient($top-color, $bottom-color: $top-color) {
	background: $top-color;
	background: -moz-linear-gradient(top,  $top-color 0%, $bottom-color 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top-color), color-stop(100%,$bottom-color));
	background: -webkit-linear-gradient(top,  $top-color 0%,$bottom-color 100%);
	background: -o-linear-gradient(top,  $top-color 0%,$bottom-color 100%);
	background: -ms-linear-gradient(top,  $top-color 0%,$bottom-color 100%);
	background: linear-gradient(to bottom,  $top-color 0%,$bottom-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top-color', endColorstr='$bottom-color',GradientType=0 );
}