* {
	box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
}

html {
	max-width: 100%;
	max-height: 100%;
}

body, html {
	width: 100%;
	height: 100%;
	background: $light-grey;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}

hr {
	border: 0;
	border-top: 1px solid darken($border-grey, 4);
}

p {
	margin: 0;
}

textarea, input { 
	outline: none;
	font-size: 16px;
	height: 33px;
	padding: 4px 8px;
	@include corners();
	border: 1px solid $border-grey;
}

input {
	line-height: 33px;
}

textarea {
	line-height: 18px;
}

label {
	@extend .muted;
	font-weight: 500;
}

textarea.big {
	height: 200px;
	resize: vertical;
}

textarea.medium {
	height: 125px;
	resize: vertical;
}

textarea.no-resize {
	resize: none;
}

textarea.to-expand {
	height: 43px;
}

input:focus, input:active, textarea:focus, textarea:active {
	border: 1px solid $secondary;
}

input[type=file] {
	line-height: 20px;
}

a {
	color: $dark-grey;
	text-decoration: none;
	font-weight: bold;
}

	a > h1, a > h2, a > h3, a > h4, a > h5, a > h6 {
		font-weight: bold;
	}

a:hover, a:active, a:focus {
	text-decoration: underline;
}

	a.icon-link:hover, a.icon-link:active i, a.icon-link:focus i {
		text-decoration: none;
		color: $secondary;
	}

.grey-bg {
	background-color: $light-grey;
}

.pointer {
	cursor: pointer;
}

.cursor-normal {
	cursor: default;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

.hidden {
	visibility: hidden !important;
	margin: 0 !important;
	height: 0 !important;
}