// FADE IN/OUT NG-REPEAT ITEMS
.fade.ng-enter {
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.fade.ng-enter {
	opacity: 0;
}

.fade.ng-leave {
	opacity: 1;
}

.fade.ng-enter.ng-enter-active {
	opacity: 1;
}

.fade.ng-leave.ng-leave-active {
	opacity: 0;
}