.main {
    margin-left: 100px;
    width: 100%;
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
    min-width: 1000px;
    background: $light-grey;
    display: table;
}

.white-top {
    @extend .full-width;
    height: 100px;
    background: $white;
    line-height: 100px;
}

.container {
    width: 980px;
    max-width: 980px;
    margin: 0 auto;
}

.block {
    display: block;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.island {
    padding: $full-space;
}

.islet {
    padding: $half-space;
}

.soft {
    padding: $full-space;
}

.soft--top {
    padding-top: $full-space;
}

.soft--bottom {
    padding-bottom: $full-space;
}

.soft--left {
    padding-left: $full-space;
}

.soft--right {
    padding-right: $full-space;
}

.soft--ends {
    padding-top: $full-space;
    padding-bottom: $full-space;
}

.soft--sides {
    padding-left: $full-space;
    padding-right: $full-space;
}

.soft-half {
    padding: $half-space;
}

.soft-half--top {
    padding-top: $half-space;
}

.soft-half--bottom {
    padding-bottom: $half-space;
}

.soft-half--left {
    padding-left: $half-space;
}

.soft-half--right {
    padding-right: $half-space;
}

.soft-half--ends {
    padding-top: $half-space;
    padding-bottom: $half-space;
}

.soft-half--sides {
    padding-left: $half-space;
    padding-right: $half-space;
}

.hard {
    padding: 0 !important;
}

.hard--top {
    padding-top: 0 !important;
}

.hard--bottom {
    padding-bottom: 0 !important;
}

.hard--left {
    padding-left: 0 !important;
}

.hard--right {
    padding-right: 0 !important;
}

.hard--ends {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.hard--sides {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nudge {
    margin: $full-space;
}

.nudge--top {
    margin-top: $full-space;
}

.nudge--bottom {
    margin-bottom: $full-space;
}

.nudge--left {
    margin-left: $full-space;
}

.nudge--right {
    margin-right: $full-space;
}

.nudge--ends {
    margin-top: $full-space;
    margin-bottom: $full-space;
}

.nudge--sides {
    margin-left: $full-space;
    margin-right: $full-space;
}

.nudge-half {
    margin: $half-space;
}

.nudge-half--top {
    margin-top: $half-space;
}

.nudge-half--bottom {
    margin-bottom: $half-space;
}

.nudge-half--left {
    margin-left: $half-space;
}

.nudge-half--right {
    margin-right: $half-space;
}

.nudge-half--ends {
    margin-top: $half-space;
    margin-bottom: $half-space;
}

.nudge-half--sides {
    margin-left: $half-space;
    margin-right: $half-space;
}

.flush {
    margin: 0 !important;
}

.flush--top {
    margin-top: 0 !important;
}

.flush--bottom {
    margin-bottom: 0 !important;
}

.flush--left {
    margin-left: 0 !important;
}

.flush--right {
    margin-right: 0 !important;
}

.flush--ends {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.flush--sides {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.table {
    display: table;
}

.td {
    display: table-cell;
}

.tr {
    display: table-row;
}