/* **************** GRIDS ***************** */
.line:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.last-unit:after{content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";visibility:hidden; clear:both;height:0 !important;display:block;line-height:0;}
.line{*zoom:1;}
.unit{float:left;}
.one-whole{float:none;}
.one-half{width:50%;}
.one-third{width:33.33333%;}
.two-thirds{width:66.66666%;}
.one-fourth{width:25%;}
.two-fourths{@extend .one-half;}
.three-fourths{width:75%;}
.one-fifth{width:20%;}
.two-fifths{width:40%;}
.three-fifths{width:60%;}
.four-fifths{width:80%;}
.one-sixth{width:16.66%;}
.two-sixths{@extend .one-third;}
.three-sixths{@extend .one-half;}
.four-sixths{@extend .two-thirds;}
.five-sixths{width:83.33%;}
.one-eighth{width:12.5%;}
.two-eigths{@extend .one-fourth;}
.three-eigths{width:37.5%;}
.four-eighths{@extend .one-half;}
.five-eighths{width:62.5%;}
.six-eighths{@extend .three-fourths;}
.seven-eighths{width: 87.5%;}
.one-tenth{width: 10%;}
.two-tenths{@extend .one-fifth;}
.three-tenths{width:30%;}
.four-tenths{@extend .two-fifths;}
.five-tenths{@extend .one-half;}
.six-tenths{@extend .three-fifths;}
.seven-tenths{width:70%;}
.eight-tenths{@extend .four-fifths;}
.nine-tenths{width:90%;}
.one-twelfth{width:8.33%;}
.two-twelfths{@extend .one-sixth;}
.three-twelfths{@extend .one-fourth;}
.four-twelfths{@extend .one-third;}
.five-twelfths{width:41.66%;}
.six-twelfths{@extend .one-half;}
.seven-twelfths{width:58.33%;}
.eight-twelfths{@extend .two-thirds;}
.nine-twelfths{@extend .three-fourths;}
.ten-twelfths{@extend .five-sixths;}
.eleven-twelfths{width:91.66%;}

.icon{width:3%;}
.icon-text{width:97%;}
.last-unit {display: table-cell; *display:block;*zoom:1;float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}