.caps {
    text-transform: uppercase;
}

.weight--bold {
    font-weight: bold;
}

.weight--normal {
    font-weight: 300;
}

.muted {
  color: $muted-text;
}

.blue {
	color: $primary;
}

.green {
	color: $secondary;
}

.red {
	color: $red;
}

.huge {
	font-size: 2.7em;
}

.small {
	font-size: 0.5em;
}

.pre-wrap {
	white-space: pre-wrap;
}

h1, .alpha { 
	font-size: 2em;
	line-height: 1.8em; 
}

h2, .beta { 
	font-size: 1.5em;
	line-height: 1.5em; 
}

h3, .gamma { 
	font-size: 1.17em;
	line-height: 1.17em;
}

h4, .delta {
	font-size: 1em;
	line-height: 1em;
}

h5, .epsilon { 
	font-size: .83em; 
	line-height: .83em;
}

h6, .zeta { 
	font-size: .75em; 
	line-height: .75em;
}

h1,h2,h3,h4,h5,h6 {
	@extend .weight--bold;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}