<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">About Us</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div class="line soft--bottom">
		<div class="unit one-sixth soft-half--right">
			<a href="/profile/jakemmarsh"><div class="user-img-about" style="background-image:url('http://s3.amazonaws.com/campuslively/assets/img/jake.jpg')"></div></a>
		</div>
		<div class="unit five-sixths last-unit">
			<a href="/profile/jakemmarsh"><h1 class="flush blue">Jake Marsh</h1></a>
			<p class="nudge-half--bottom">dsfsdf dsfd</p>
			<a href="https://twitter.com/jakemmarsh" class="icon-link"><i class="fa fa-twitter beta nudge-half--right" data-tooltip="Twitter"></i></a>
			<a href="mailto:jake@campuslively.com" class="icon-link"><i class="fa fa-envelope beta" data-tooltip="Email"></i></a>
		</div>
	</div>
	<hr />
	<div class="line soft--top">
		<div class="unit one-sixth soft-half--right">
			<a href="/profile/mslick32"><div class="user-img-about" style="background-image: url('http://s3.amazonaws.com/campuslively/assets/img/matt.jpg')"></div></a>
		</div>
		<div class="unit five-sixths last-unit">
			<a href="/profile/slickm32"><h1 class="flush blue">Matt Sliwkowski</h1></a>
			<p class="nudge-half--bottom">dsfsdf dsfd</p>
			<a href="mailto:matt@campuslively.com" class="icon-link"><i class="fa fa-envelope beta" data-tooltip="Email"></i></a>
		</div>
	</div>
</div>