<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">About Us</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div class="line soft--bottom">
		<div class="unit one-sixth soft-half--right">
			<a href="/profile/jakemmarsh"><div class="user-img-about" style="background-image:url('http://assets.campuslively.com/img/jake.jpg')"></div></a>
		</div>
		<div class="unit five-sixths last-unit">
			<a href="/profile/jakemmarsh" class="blue"><h2 class="flush normal-lh">Jake Marsh</h2></a>
			<h3 class="flush--sides nudge-half--ends weight--bold">Co-Founder, CEO</h3>
			<p class="nudge-half--bottom">Jake Marsh is from Hampden, Maine and is now a Junior at the University of Maine double majoring in Computer Science and Economics. While attending UMaine he has helped to redesign and redevelop the university's online magazine, participated in the Student Portfolio Investment Fund, and has also completed many other outside projects. During the Summer of 2013 he worked as a Software Engineering Intern in Chicago, Illinois.</p>
			<a href="https://twitter.com/jakemmarsh" class="icon-link" target="_blank"><i class="fa fa-twitter beta nudge-half--right" tooltip="Twitter"></i></a>
			<a href="http://www.linkedin.com/in/jakemmarsh" class="icon-link" target="_blank"><i class="fa fa-linkedin beta nudge-half--right" tooltip="LinkedIn"></i></a>
			<a href="mailto:jake@campuslively.com" class="icon-link"><i class="fa fa-envelope beta" tooltip="Email"></i></a>
		</div>
	</div>
	<hr />
	<div class="line soft--top">
		<div class="unit one-sixth soft-half--right">
			<a href="/profile/mslick32"><div class="user-img-about" style="background-image: url('http://assets.campuslively.com/img/matt.jpg')"></div></a>
		</div>
		<div class="unit five-sixths last-unit">
			<a href="/profile/slickm32" class="blue"><h2 class="flush normal-lh">Matt Sliwkowski</h2></a>
			<h3 class="flush--sides nudge-half--ends weight--bold">Co-Founder, COO</h3>
			<p class="nudge-half--bottom">Matt Sliwkowski is from Sudbury, Massachusetts and is currently a senior at Boston University’s School of Management, concentrating in finance and entrepreneurship.  Since attending BU, Matt has been heavily involved with startups.  His sophomore year, he helped The Harvard Bartending Course expand operations to BU.  This past Summer, he was accepted into BU’s ITEC Accelerator Program for one of his ventures. He has also worked with MassChallenge finalist, TapWalk.</p>
			<a href="http://www.linkedin.com/pub/matthew-sliwkowski/33/591/997" class="icon-link" target="_blank"><i class="fa fa-linkedin beta nudge-half--right" tooltip="LinkedIn"></i></a>
			<a href="mailto:matt@campuslively.com" class="icon-link"><i class="fa fa-envelope beta" tooltip="Email"></i></a>
		</div>
	</div>
</div>