<div class="loading" ng-show="loading">
	<h2 class="flush" ng-show="loading && !gettingPosition">Loading...</h2>
	<h2 class="flush" ng-show="gettingPosition">Getting your location...</h2>
</div>
<div class="white-top">
	<div class="container full-height">
		<div class="table full-height full-width">
			<div class="td vertical-align-middle one-half">
				<h1 class="flush blue">Events Calendar</h1>
			</div>
			<div class="td vertical-align-middle one-half text-right">
				<ng-switch-toggle-group theme="candy" ng-model="currentView" choices="viewOptions" class="float-right" style="display:none;"></ng-switch-toggle-group>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div ui-calendar="calendarOptions" ng-model="events" calendar="eventCalendar" class="nudge-half--bottom"></div>
	<div ng-show="loadingDayEvents" class="text-center soft--ends">
		<div class="box island inline-block">
			<h1 class="flush blue">Loading events...</h1>
		</div>
	</div>
	<div ng-hide="currentView == 'school' || dayEvents.length || loadingDayEvents || !showDay" class="text-center soft--ends">
		<h1 class="blue nudge--ends">There are no upcoming events near you on {{ selectedDay | readableDate}} yet!</h1>
		<a href="/post" class="btn nudge--top">Post One</a>
	</div>
	<div ng-hide="currentView == 'nearby' || dayEvents.length || loadingDayEvents || !showDay" class="text-center soft--ends">
		<h1 class="blue nudge--ends">There are no upcoming events for your school on {{ selectedDay | readableDate}} yet!</h1>
		<a href="/post" class="btn nudge--top">Post One</a>
	</div>
	<div ng-show="showDay && dayEvents.length && !loadingDayEvents" id="dayEvents">
		<div class="table full-width">
			<div class="tr">
				<div class="td one-half vertical-align-middle">
					<h2 class="flush nudge-half--bottom">Events on {{ selectedDay | readableDate }}</h2>
				</div>
				<div class="td one-half vertical-align-middle text-right">
					<div class="dropdown">
						<a href class="dropdown-toggle">
							{{ currentSort.label }} <i class="fa fa-chevron-down muted weight--normal"></i>
						</a>
						<ul class="dropdown-menu pull-right" style="left:none !important;right:0;">
							<li ng-repeat="option in sortOptions">
								<a href ng-bind="option.label" ng-click="changeSort(option)"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="line fade nudge--ends" ng-repeat="event in dayEvents | orderBy:currentSort.value">
			<div class="unit one-twelfth">
				<div class="user-img-event" ng-style="{'background-image': 'url(' + event.creator.pictureUrl + ')'}" ng-show="event.creator">
					<a href tooltip="{{event.creator.displayName}}" tooltip-placement="left" ng-href="/profile/{{event.creator.username}}"></a>
				</div>
			</div>
			<div class="unit eleven-twelfths last-unit" ng-include="'templates/event.html'"></div>
		</div><!-- event end -->
	</div>
</div>

<script type="text/ng-template" id="attendingModal.html">
    <div class="modal-header clearfix">
        <h3 class="flush float-left weight--bold">Attending</h3>
        <i class="fa fa-times close" ng-click="ok()"></i>
    </div>
    <div class="modal-body">
    	<ul ng-show="items.length" class="modal-user-list table full-width">
	        <li ng-repeat="attendingUser in items" class="tr full-width">
	        	<div class="td one-tenth vertical-align-middle">
	        		<div class="user-img-modal" ng-style="{'background-image': 'url(' + attendingUser.pictureUrl + ')'}">
	        			<a ng-href="profile/{{attendingUser.username}}" ng-click="clickLink()"></a>
	        		</div>
	        	</div>
	        	<div class="td nine-tenths vertical-align-middle soft--left">
	        		<a ng-href="profile/{{attendingUser.username}}" ng-click="clickLink()" class="weight--bold" ng-bind="attendingUser.displayName"></a>
	        	</div>
			</li>
		</ul>
		<div ng-hide="items.length">
			<h2 class="flush green text-center">No one has RSVPd to this event yet!</h2>
		</div>
    </div>
</script>

<script type="text/ng-template" id="shareModal.html">
    <div class="modal-header clearfix">
        <h3 class="flush float-left weight--bold">Share Event</h2>
        <i class="fa fa-times close" ng-click="ok()"></i>
    </div>
    <div class="modal-body">
    	<h3 class="caps flush--top nudge-half--bottom">Event URL:</h3>
    	<input type="text" class="full-width" ng-model="eventUrl" input-select readonly="readonly" />
    	<div class="line nudge--top">
	    	<div class="unit one-third soft--right">
	        	<a ng-click="openTweet()" class="btn twitter full-width text-center"><i class="fa fa-twitter"></i> Tweet</a>
			</div>
			<div class="unit one-third soft-half--sides">
				<a href ng-click="shareEvent()" class="btn fb full-width text-center"><i class="fa fa-facebook"></i> Share</a>
			</div>
			<div class="unit one-third last-unit soft--left">
				<a href ng-click="sendEvent()" class="btn fb full-width text-center"><i class="fa fa-facebook"></i> Send</a>
			</div>
		</div>
    </div>
</script>