<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Events Calendar</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div data-ui-calendar="calendarOptions" data-ng-model="eventSource" class="nudge-half--bottom"></div>
	<div data-ng-show="loadingDayEvents" class="text-center soft--ends">
		<div class="box island inline-block">
			<h1 class="flush blue">Loading events...</h1>
		</div>
	</div>
	<div data-ng-hide="dayEvents.length || loadingDayEvents || !showDay" class="text-center soft--ends">
		<h1 class="blue nudge--ends">No events have been posted for your school on {{ selectedDay | readableDate}}.</h1>
	</div>
	<div data-ng-show="showDay && dayEvents.length && !loadingDayEvents" id="dayEvents">
		<div class="table full-width">
			<div class="tr">
				<div class="td one-half vertical-align-middle">
					<h2 class="flush nudge-half--bottom">Events on {{ selectedDay | readableDate }}</h2>
				</div>
				<div class="td one-half vertical-align-middle text-right">
					<div class="dropdown">
						<a href class="dropdown-toggle">
							{{ currentSort.label }} <i class="icon-chevron-down muted weight--normal"></i>
						</a>
						<ul class="dropdown-menu pull-right" style="left:none !important;right:0;">
							<li data-ng-repeat="option in sortOptions">
								<a href data-ng-bind="option.label" data-ng-click="changeSort(option)"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="line nudge-half--ends" data-ng-repeat="event in dayEvents | orderBy:currentSort.value">
			<div class="unit one-twelfth">
				<div class="user-img-event" data-ng-style="{'background-image': 'url(' + event.creator.pictureUrl + ')'}">
					<a href data-tooltip="{{event.creator.businessName}}" data-tooltip-placement="left" data-ng-href="/profile/{{event.creator.username}}" data-ng-show="event.creator.type == 'business'"></a>
					<a href data-tooltip="{{event.creator.firstName}} {{event.creator.lastName}}" data-tooltip-placement="left" data-ng-href="/profile/{{event.creator.username}}" data-ng-show="event.creator.type == 'student'"></a>
				</div>
			</div>
			<div class="unit eleven-twelfths last-unit">
				<div class="box">
					<div class="event-header soft-half--sides">
						<h2 class="flush">
							<i class="zeta icon-unlock nudge-half--right" data-ng-show="event.privacy == 'public'"></i>
							<i class="zeta icon-lock nudge-half--right" data-ng-show="event.privacy == 'inviteonly'"></i>
							{{ event.title }}
						</h2>
						<a data-ng-href="/event/{{event._id}}" class="block-link"></a>
					</div>
					<div class="islet">
						<div class="line">
							<div class="unit four-fifths">
								<span class="delta weight--bold">
									<span data-ng-show="event.locationName" class="nudge-half--right">
										<i class="icon-map-marker muted"></i> <span data-ng-bind="event.locationName"></span> 
									</span>
									<span data-ng-show="event.startDate" class="nudge-half--right">
										<i class="icon-calendar-empty muted"></i> <span>{{ event.startDate | readableDate }}</span>
									</span>
									<span data-ng-show="event.startTime">
										<i class="icon-time muted"></i> <span data-ng-bind="event.startTime"></span>
									</span>
								</span>
							</div>
							<div class="unit one-fifth last-unit text-right">
								<ul class="tags">
									<li data-ng-repeat="tag in event.tags" data-ng-bind="tag"></li>
								</ul>
							</div>
						</div>
						<p class="pre-wrap" data-ng-bind-html="event.description | parseUrl"></p>
						<div class="line nudge-half--top">
							<div class="unit one-half">
								<div class="action-buttons">
									<a class="first" data-ng-class="{green: isAttending(event)}" href data-ng-click="openAttending(event._id)" data-tooltip="People Attending"><span class="gamma" data-ng-class="{green: isAttending(event)}">{{ event.attending.length }}</span></a>
									<a href data-ng-click="rsvpToEvent(event._id)" data-ng-hide="isAttending(event)"><i class="icon-thumbs-up"></i> RSVP</a>
									<a href data-ng-click="unRsvpToEvent(event._id)" data-ng-show="isAttending(event)"><i class="icon-thumbs-up-alt"></i> Un-RSVP</a>
								</div>
							</div>
							<div class="unit one-half last-unit text-right">
								<div class="action-buttons green">
									<a href data-ng-href="/event/{{event._id}}">Details <i class="icon-chevron-right epsilon"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- event end -->
	</div>
</div>

<script type="text/ng-template" id="attendingModal.html">
    <div class="modal-header">
        <h2 class="flush">Attending</h2>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">Close</button>
    </div>
</script>