<div class="loading" data-ng-show="loading">
	<h2 class="flush">Loading...</h2>
</div>
<div class="white-top">
	<div class="container full-height">
		<div class="table full-height full-width">
			<div class="td vertical-align-middle one-half">
				<h1 class="flush blue">Events Calendar</h1>
			</div>
			<div class="td vertical-align-middle one-half text-right">
				<ng-switch-toggle-group data-theme="candy" data-ng-model="currentView" data-choices="viewOptions" class="float-right"></ng-switch-toggle-group>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div data-ui-calendar="calendarOptions" data-ng-model="events" data-calendar="eventCalendar" class="nudge-half--bottom"></div>
	<div data-ng-show="loadingDayEvents" class="text-center soft--ends">
		<div class="box island inline-block">
			<h1 class="flush blue">Loading events...</h1>
		</div>
	</div>
	<div data-ng-hide="currentView == 'school' || dayEvents.length || loadingDayEvents || !showDay" class="text-center soft--ends">
		<h1 class="blue nudge--ends">There are no upcoming events near you on {{ selectedDay | readableDate}} yet!</h1>
		<a href="/post" class="btn nudge--top">Post One</a>
	</div>
	<div data-ng-hide="currentView == 'nearby' || dayEvents.length || loadingDayEvents || !showDay" class="text-center soft--ends">
		<h1 class="blue nudge--ends">There are no upcoming events for your school on {{ selectedDay | readableDate}} yet!</h1>
		<a href="/post" class="btn nudge--top">Post One</a>
	</div>
	<div data-ng-show="showDay && dayEvents.length && !loadingDayEvents" id="dayEvents">
		<div class="table full-width">
			<div class="tr">
				<div class="td one-half vertical-align-middle">
					<h2 class="flush nudge-half--bottom">Events on {{ selectedDay | readableDate }}</h2>
				</div>
				<div class="td one-half vertical-align-middle text-right">
					<div class="dropdown">
						<a href class="dropdown-toggle">
							{{ currentSort.label }} <i class="fa fa-chevron-down muted weight--normal"></i>
						</a>
						<ul class="dropdown-menu pull-right" style="left:none !important;right:0;">
							<li data-ng-repeat="option in sortOptions">
								<a href data-ng-bind="option.label" data-ng-click="changeSort(option)"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="line fade nudge--ends" data-ng-repeat="event in dayEvents | orderBy:currentSort.value">
			<div class="unit one-twelfth">
				<div class="user-img-event" data-ng-style="{'background-image': 'url(' + event.creator.pictureUrl + ')'}">
					<a href data-tooltip="{{event.creator.displayName}}" data-tooltip-placement="left" data-ng-href="/profile/{{event.creator.username}}"></a>
				</div>
			</div>
			<div class="unit eleven-twelfths last-unit" data-ng-include="'templates/event.html'"></div>
		</div><!-- event end -->
	</div>
</div>

<script type="text/ng-template" id="attendingModal.html">
    <div class="modal-header">
        <h2 class="flush">Attending</h2>
    </div>
    <div class="modal-body">
        <div data-ng-repeat="attendingUser in items" class="user-img-modal nudge-half--right" data-ng-style="{'background-image': 'url(' + attendingUser.pictureUrl + ')'}">
			<a data-ng-href="profile/{{attendingUser.username}}" data-ng-click="clickLink()" data-tooltip="{{attendingUser.displayName}}" data-tooltip-placement="right"></a>
		</div>
		<div data-ng-hide="items.length">
			<h2 class="flush text-center">No one has RSVPd to this event yet!</h2>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">Close</button>
    </div>
</script>