<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Contact Us</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<form name="contactForm" ng-submit="sendMessage()" ng-hide="messageSent">
		<div class="line nudge-half--bottom">
			<div class="unit one-tenth label-container">
				<label for="subject" class="caps weight--bold">Subject</label>
			</div>
			<div class="unit last-unit nine-tenths">
				<input type="text" id="subject" ng-model="message.subject" class="full-width" placeholder="Message subject" />
			</div>
		</div>
		<div class="line nudge-half--bottom" ng-show="!user">
			<div class="unit one-tenth label-container">
				<label for="email" class="caps weight--bold">Email <span class="red">*</span></label>
			</div>
			<div class="unit last-unit nine-tenths">
				<input type="email" id="email" ng-model="message.replyAddress" class="full-width" placeholder="sample@email.com" ng-required="!user" />
				<span class="epsilon muted">If you would like us to be able to respond to your message, please provide a valid email address to contact you at.</span>
			</div>
		</div>
		<div class="line nudge-half--bottom">
			<div class="unit one-tenth label-container">
				<label for="message" class="caps weight--bold">Message <span class="red">*</span></label>
			</div>
			<div class="unit last-unit nine-tenths">
				<textarea id="message" ng-model="message.body" class="full-width big" placeholder="Your message" required></textarea>
			</div>
		</div>
		<div class="line">
			<div class="unit nine-tenths">
				<span class="red weight--bold" ng-show="sendError" ng-bind="sendError"></span>
			</div>
			<div class="unit last-unit one-tenth text-right">
				<input type="submit" class="btn" value="Send Message" ng-disabled="contactForm.$invalid" />
			</div>
		</div>
	</form>
	<div ng-show="messageSent">
		<h1 class="green flush">Message Sent!</h1>
		<p class="gamma nudge--top">Thank you for contacting us. If your message requires a response, we will get back to you as soon as possible.</p>
	</div>
</div>