<div class="white-top">
	<div class="container">
		<div class="line">
			<div class="unit span-1-of-2 text-left">
				<label class="checkbox toggle" onclick="">
					<input type="checkbox" />
					<span>
						<span>My School</span>
						<span>All Nearby</span>
					</span>

					<a class="slide-button"></a>
				</label>
			</div>
			<div class="unit span-1-of-2 last-unit text-right">
				<div class="input-prepend">
					<div class="icon">
						<i class="icon-search"></i>
					</div>
					<input type="text" class="search" placeholder="Search events..." />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container soft--ends">
	<a class="btn">test</a>
	events
</div>