<div class="white-top">
	<div class="container">
		<div class="line">
			<div class="unit span-1-of-2 text-left">
				<h1 class="flush">Event Name <i class="muted weight--normal zeta icon-unlock"></i></h1>
				<h3 class="flush muted weight--normal">hosted by <a href>jakemmarsh</a></h3>
			</div>
			<div class="unit span-1-of-2 last-unit text-right">
				<a class="btn nudge-half--right"><i class="icon-thumbs-up"></i> RSVP</a>
				<a class="btn"><i class="icon-share"></i> Share</a>
			</div>
		</div>
	</div>
</div>
<div class="container soft--ends">
	specific event: {{eventId}}
</div>