<div class="white-top">
	<div class="container">
		<div class="line">
			<div class="unit one-half text-left">
				<h1 class="flush">
					<span data-ng-bind="event.title"></span>
					<i class="muted weight--normal zeta icon-lock" data-ng-show="event.privacy == 'inviteonly'"></i>
					<i class="muted weight--normal zeta icon-unlock" data-ng-show="event.privacy == 'public'"></i>
				</h1>
				<h3 class="flush muted weight--normal">
					hosted by
					<a href data-ng-href="/profile/{{ event.creator.username }}" data-ng-show="event.creator.type == 'student'">{{event.creator.firstName}} {{event.creator.lastName}}</a>
					<a href data-ng-href="/profile/{{ event.creator.username }}" data-ng-show="event.creator.type == 'business'">{{event.creator.businessName}}</a>
				</h3>
			</div>
			<div class="unit one-half last-unit text-right">
				<a href class="btn nudge-half--right" data-ng-click="rsvpToEvent()" data-ng-hide="isAttending()"><i class="icon-thumbs-up"></i> RSVP</a>
				<a href class="btn nudge-half--right" data-ng-click="unRsvpToEvent()" data-ng-show="isAttending()"><i class="icon-thumbs-up-alt"></i> Un-RSVP</a>
				<a href class="btn nudge-half--right" data-ng-click="open('invite')"><i class="icon-plus-sign"></i> Invite</a>
				<a class="btn" data-ng-click="open('share')"><i class="icon-share"></i> Share</a>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div class="event-img nudge-half--bottom" data-ng-show="event.pictureUrl" data-ng-style="{'background-image': 'url(' + event.pictureUrl + ')'}"></div>
	<div class="line text-left">
		<div class="unit three-fourths">
			<div class="box top-highlight islet">
			<div class="line">
				<div class="unit three-percent">
					<h4 class="flush--top nudge-half--bottom"><i class="muted icon-calendar-empty"></i></h4>
				</div>
				<div class="unit ninety-seven-percent last-unit">
					<p class="nudge-half--bottom" data-ng-bind="event.startDate | readableDate"></p>
				</div>
			</div>
				<div class="line">
					<div class="unit three-percent">
						<h4 class="flush--top nudge-half--bottom"><i class="muted icon-time"></i></h4>
					</div>
					<div class="unit ninety-seven-percent last-unit">
						<p class="nudge-half--bottom" data-ng-bind="event.startTime"></p>
					</div>
				</div>
				<div class="line">
					<div class="unit three-percent">
						<h4 class="flush--top nudge-half--bottom"><i class="muted icon-map-marker"></i></h4>
					</div>
					<div class="unit ninety-seven-percent last-unit">
						<p class="nudge-half--bottom">Bijou Nightclub</p>
					</div>
				</div>
				<div class="line">
					<div class="unit three-percent">
						<h4 class="flush"><i class="muted icon-align-left"></i></h4>
					</div>
					<div class="unit ninety-seven-percent last-unit">
						<p class="pre-wrap" data-ng-bind-html="event.description | parseUrl"></p>
					</div>
				</div>
				<div data-ui-map="locationMap" data-ui-options="mapOptions" class="map nudge-half--top" data-ng-show="event.location"></div>
			</div>
			<form name="commentForm" class="full-width nudge-half--top clearfix" data-ng-submit="postComment()">
				<textarea placeholder="Write a comment..." class="full-width no-resize to-expand" data-ng-model="commentBody" data-expand-comment required></textarea>
				<button type="submit" class="btn nudge-half--ends float-right hidden" data-ng-disabled="commentForm.$invalid">Post</button>
			</form>
			<div class="line nudge-half--bottom" data-ng-repeat="comment in event.comments | orderBy: '-posted'">
				<div class="unit one-tenth">
					<div class="user-img-comment" data-ng-style="{'background-image': 'url(' + comment.creator.pictureUrl + ')'}">
						<a href data-ng-show="comment.creator.type == 'student'" data-tooltip="{{comment.creator.firstName}} {{comment.creator.lastName}}" data-tooltip-placement="left" data-ng-href="profile/{{comment.creator.username}}"></a>
						<a href data-ng-show="comment.creator.type == 'business'" data-tooltip="{{comment.creator.businessName}}" data-tooltip-placement="left" data-ng-href="profile/{{comment.creator.username}}"></a>
					</div>
				</div>
				<div class="unit nine-tenths last-unit">
					<div class="box islet comment">
						<a href class="delete-comment-button" data-ng-click="deleteComment(comment)" data-ng-show="comment.creator._id == user._id">
							<i class="icon-remove"></i>
						</a>
						<h4 class="flush">
							<a href data-ng-href="/profile/{{comment.creator.username}}" data-ng-show="comment.creator.type == 'student'">{{comment.creator.firstName}} {{comment.creator.lastName}}</a>
							<a href data-ng-href="/profile/{{comment.creator.username}}" data-ng-show="comment.creator.type == 'business'">{{comment.creator.businessName}}</a>
						</h4>
						<p class="nudge-half--ends pre-wrap" data-ng-bind-html="comment.body | parseUrl"></p>
						<div class="table full-width">
								<div class="td one-half">
									<div class="action-buttons comment nudge-half--top">
										<a class="first" href><span class="gamma" data-ng-class="{green: likesComment(comment)}">{{ comment.likes.length }}</span></a>
										<a href data-ng-click="likeComment(comment)" data-ng-hide="likesComment(comment)">
											<i class="icon-heart"></i> Like
										</a>
										<a href data-ng-click="unlikeComment(comment)" data-ng-show="likesComment(comment)">
											<i class="icon-heart-empty"></i> Unlike
										</a>
									</div>
								</div>
								<div class="td one-half text-right">
									<span class="muted epsilon" data-ng-bind="comment.posted | timePast"></span>
								</div>
						</div>
						<hr class="nudge-half--ends" />
						<div class="line nudge-half--bottom" data-ng-repeat="subComment in comment.subComments">
							<div class="unit one-twelfth">
								<div class="user-img-subcomment" data-ng-style="{'background-image': 'url(' + subComment.creator.pictureUrl + ')'}">
									<a href data-ng-show="subComment.creator.type == 'student'" data-tooltip="{{subComment.creator.firstName}} {{subComment.creator.lastName}}" data-tooltip-placement="left" data-ng-href="profile/{{subComment.creator.username}}"></a>
									<a href data-ng-show="subComment.creator.type == 'business'" data-tooltip="{{subComment.creator.businessName}}" data-tooltip-placement="left" data-ng-href="profile/{{subComment.creator.username}}"></a>
								</div>
							</div>
							<div class="unit eleven-twelfths last-unit subcomment-body islet">
								<a href class="delete-subcomment-button" data-ng-click="deleteSubComment(comment._id, subComment)" data-ng-show="subComment.creator._id == user._id">
									<i class="icon-remove"></i>
								</a>
								<p class="epsilon" data-ng-bind-html="subComment.body | parseUrl"></p>
								<div class="text-right nudge-half--top">
									<span class="muted epsilon" data-ng-bind="subComment.posted | timePast"></span>
								</div>
							</div>
						</div>
						<form name="subCommentForm" class="input-append full-width clearfix epsilon" data-ng-submit="postSubComment(comment)">
							<input type="text" placeholder="Write a comment..." data-ng-model="comment.newSubComment" class="nine-tenths delta" required />
							<button type="submit" class="btn one-tenth" data-ng-disabled="subCommentForm.$invalid">Post</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="unit one-fourth last-unit soft-half--left">
			<div class="box nudge-half--bottom">
				<div class="header soft-half--sides">
					<div class="line">
						<div class="unit one-half">
							<h2 class="flush">Going</h2>
						</div>
						<div class="unit one-half last-unit text-right">
							<span data-ng-bind="event.attending.length"></span>
							<span data-ng-show="event.attending.length == 1">person</span>
							<span data-ng-hide="event.attending.length == 1">people</span>
						</div>
					</div>
				</div>
				<div class="islet text-center" data-ng-show="event.attending.length > 0">
					<div data-ng-repeat="attendingUser in event.attending" class="user-img-going nudge-half--right" data-ng-style="{'background-image': 'url(' + attendingUser.pictureUrl + ')'}">
						<a href data-ng-href="profile/{{attendingUser.username}}" data-ng-show="attendingUser.type == 'student'" data-tooltip="{{attendingUser.firstName}} {{attendingUser.lastName}}"></a>
						<a href data-ng-href="profile/{{attendingUser.username}}" data-ng-show="attendingUser.type == 'business'" data-tooltip="{{attendingUser.businessName}}"></a>
					</div>
				</div>
			</div>
			<div class="box nudge-half--bottom">
				<div class="header soft-half--sides">
					<div class="line">
						<div class="unit one-half">
							<h2 class="flush">Invited</h2>
						</div>
						<div class="unit one-half last-unit text-right">
							<span data-ng-bind="event.invited.length"></span>
							<span data-ng-show="event.invited.length == 1">person</span>
							<span data-ng-hide="event.invited.length == 1">people</span>
						</div>
					</div>
				</div>
				<div class="islet text-center" data-ng-show="event.invited.length > 0">
					<div data-ng-repeat="attendingUser in event.invited" class="user-img-going nudge-half--right" data-ng-style="{'background-image': 'url(' + attendingUser.pictureUrl + ')'}">
						<a href data-ng-href="profile/{{attendingUser.username}}" data-ng-show="attendingUser.type == 'student'" data-tooltip="{{attendingUser.firstName}} {{attendingUser.lastName}}"></a>
						<a href data-ng-href="profile/{{attendingUser.username}}" data-ng-show="attendingUser.type == 'business'" data-tooltip="{{attendingUser.businessName}}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="inviteModal.html">
    <div class="modal-header">
        <h2 class="flush">Invite Friends</h2>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">OK</button>
        <button class="btn--blue" data-ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="shareModal.html">
    <div class="modal-header">
        <h2 class="flush">Share Event</h2>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">OK</button>
        <button class="btn--blue" data-ng-click="cancel()">Cancel</button>
    </div>
</script>