<div class="loading" data-ng-show="loading">
	<h2 class="flush" data-ng-show="loading && !gettingPosition">Loading...</h2>
	<h2 class="flush" data-ng-show="gettingPosition">Getting your location...</h2>
</div>
<div class="white-top">
	<div class="container full-height">
		<div class="table full-height full-width">
			<div class="td vertical-align-middle one-half">
				<h1 class="flush blue">Explore</h1>
			</div>
			<div class="td vertical-align-middle one-half text-right">
				<ng-switch-toggle-group data-theme="candy" data-ng-model="currentView" data-choices="viewOptions" class="float-right"></ng-switch-toggle-group>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends" data-ng-show="currentView == 'school'">
	<div class="text-center" data-ng-show="!loading && !events.length">
		<h1 class="flush blue">No events have been posted for your school yet!</h1>
		<a href="/post" class="btn nudge--top">Be the First</a>
	</div>
	<div class="table soft-half--ends full-width">
		<div class="td one-half vertical-align-middle">
			<div class="input-prepend">
				<div class="icon">
					<i class="icon-search"></i>
				</div>
				<input type="text" class="search" data-ng-model="searchEvents" placeholder="Search events..." />
			</div>
		</div>
		<div class="td one-half vertical-align-middle text-right">
			<div class="dropdown">
				<a href class="dropdown-toggle">
					{{ currentSort.label }} <i class="icon-chevron-down muted weight--normal"></i>
				</a>
				<ul class="dropdown-menu pull-right" style="left:none !important;right:0;">
					<li data-ng-repeat="option in sortOptions">
						<a href data-ng-bind="option.label" data-ng-click="changeSort(option)"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<hr />
	<div class="text-center" data-ng-show="!loading && !filteredEvents.length && events.length">
		<h2 class="flush blue" data-ng-show="events.length >= 20">No events match your search. Have you tried loading more?</h2>
		<h2 class="flush blue" data-ng-show="events.length < 20">No events match your search.</h2>
	</div>
	<div class="line fade nudge--ends" data-ng-repeat="event in filteredEvents = (events | filter:searchEvents | orderBy:currentSort.value)">
		<div class="unit one-twelfth">
			<div class="user-img-event" data-ng-style="{'background-image': 'url(' + event.creator.pictureUrl + ')'}">
				<a href data-tooltip="{{event.creator.displayName}}" data-tooltip-placement="left" data-ng-href="/profile/{{event.creator.username}}"></a>
			</div>
		</div>
		<div class="unit eleven-twelfths last-unit">
			<div class="box">
				<div class="event-header soft-half--sides">
					<div class="line">
						<div class="unit one-half">
							<i class="beta icon-circle nudge-half--right float-left" data-ng-show="event.privacy == 'public'" data-tooltip="Public" data-tooltip-placement="top"></i>
							<i class="beta icon-circle-blank nudge-half--right float-left" data-ng-show="event.privacy == 'inviteonly'" data-tooltip="Invite Only" data-tooltip-placement="top"></i>
							<h2 class="flush">
								<a data-ng-href="/event/{{event._id}}">
									{{ event.title }}
								</a>
							</h2>
						</div>
						<div class="unit one-half last-unit text-right">
							Posted by
							 <a data-ng-href="/profile/{{event.creator.username}}">{{event.creator.displayName}}</a>
							 {{ event.timestamp | timePast }}
						</div>
					</div>
				</div>
				<div class="islet">
					<div class="line">
						<div class="unit full-width last-unit">
							<span class="delta weight--bold">
								<span data-ng-show="event.locationName" class="nudge--right">
									<i class="icon-map-marker muted"></i> <span data-ng-bind="event.locationName"></span> 
								</span>
								<span data-ng-show="event.startDate" class="nudge--right">
									<i class="icon-calendar-empty muted"></i> <span>{{ event.startDate | readableDate }}</span>
								</span>
								<span data-ng-show="event.startTime">
									<i class="icon-time muted"></i> <span data-ng-bind="event.startTime"></span>
								</span>
							</span>
						</div>
					</div>
					<hr />
					<p class="pre-wrap soft-half--ends" data-ng-bind-html="event.description | parseUrl"></p>
				</div>
				<div class="event-footer table full-width soft-quarter--ends">
					<div class="tr">
						<div class="td three-fourths">
							<ul class="tags">
								<li data-ng-repeat="tag in event.tags" data-ng-bind="tag"></li>
							</ul>
						</div>
						<div class="td one-fourth text-right soft-half--right vertical-align-middle">
							<div class="action-buttons nudge-half--right">
								<a class="first" data-ng-class="{green: isAttending(event)}" href data-ng-click="openAttending(event)" data-tooltip="People Attending"><span class="gamma" data-ng-class="{green: isAttending(event)}">{{ event.attending.length }}</span></a>
								<a href data-ng-click="rsvpToEvent(event._id)" data-ng-hide="isAttending(event)"><i class="icon-thumbs-up"></i> RSVP</a>
								<a href data-ng-click="unRsvpToEvent(event._id)" data-ng-show="isAttending(event)"><i class="icon-thumbs-up-alt"></i> Un-RSVP</a>
							</div>
							<div class="action-buttons green">
								<a href data-ng-href="/event/{{event._id}}">Details <i class="icon-chevron-right epsilon"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- event end -->
	<hr data-ng-show="events.length >= 20 && filteredEvents.length" />
	<a href data-ng-click="loadMore()" class="btn full-width text-center" data-ng-show="moreToLoadSchool && !loadingMore && !loading">Load More</a>
	<a href class="btn full-width text-center" data-ng-show="loadingMore && !loading">Loading more...</a>
</div>
<div class="container soft-half--ends" data-ng-show="currentView == 'nearby'">
	<div class="text-center" data-ng-show="!loading && !events.length">
		<h1 class="flush blue">No events have been posted near you yet!</h1>
		<a href="/post" class="btn nudge--top">Be the First</a>
	</div>
	<div class="text-center" data-ng-show="showLocationError">
		<h1 class="flush blue">We were unable to determine your location</h1>
	</div>
	<div class="table soft-half--ends full-width">
		<div class="td one-half vertical-align-middle">
			<div class="input-prepend">
				<div class="icon">
					<i class="icon-search"></i>
				</div>
				<input type="text" class="search" data-ng-model="searchEvents" placeholder="Search events..." />
			</div>
		</div>
		<div class="td one-half vertical-align-middle text-right">
			<div class="dropdown">
				<a href class="dropdown-toggle">
					{{ currentSort.label }} <i class="icon-chevron-down muted weight--normal"></i>
				</a>
				<ul class="dropdown-menu pull-right" style="left:none !important;right:0;">
					<li data-ng-repeat="option in sortOptions">
						<a href data-ng-bind="option.label" data-ng-click="changeSort(option)"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<hr />
	<div class="line fade nudge--ends" data-ng-repeat="event in filteredEvents = (events | filter:searchEvents | orderBy:currentSort.value)">
		<div class="unit one-twelfth">
			<div class="user-img-event" data-ng-style="{'background-image': 'url(' + event.creator.pictureUrl + ')'}">
				<a href data-tooltip="{{event.creator.displayName}}" data-tooltip-placement="left" data-ng-href="/profile/{{event.creator.username}}"></a>
			</div>
		</div>
		<div class="unit eleven-twelfths last-unit">
			<div class="box">
				<div class="event-header soft-half--sides">
					<div class="line">
						<div class="unit one-half">
							<i class="beta icon-circle nudge-half--right float-left" data-ng-show="event.privacy == 'public'" data-tooltip="Public" data-tooltip-placement="top"></i>
							<i class="beta icon-circle-blank nudge-half--right float-left" data-ng-show="event.privacy == 'inviteonly'" data-tooltip="Invite Only" data-tooltip-placement="top"></i>
							<h2 class="flush">
								<a data-ng-href="/event/{{event._id}}">
									{{ event.title }}
								</a>
							</h2>
						</div>
						<div class="unit one-half last-unit text-right">
							Posted by
							 <a data-ng-href="/profile/{{event.creator.username}}">{{event.creator.displayName}}</a>
							 {{ event.timestamp | timePast }}
						</div>
					</div>
				</div>
				<div class="islet">
					<div class="line">
						<div class="unit full-width last-unit">
							<span class="delta weight--bold">
								<span data-ng-show="event.locationName" class="nudge-half--right">
									<i class="icon-map-marker muted"></i> <span data-ng-bind="event.locationName"></span> 
								</span>
								<span data-ng-show="event.startDate" class="nudge-half--right">
									<i class="icon-calendar-empty muted"></i> <span>{{ event.startDate | readableDate }}</span>
								</span>
								<span data-ng-show="event.startTime">
									<i class="icon-time muted"></i> <span data-ng-bind="event.startTime"></span>
								</span>
							</span>
						</div>
					</div>
					<hr />
					<p class="pre-wrap soft-half--ends" data-ng-bind-html="event.description | parseUrl"></p>
				</div>
				<div class="event-footer table full-width soft-quarter--ends">
					<div class="tr">
						<div class="td three-fourths">
							<ul class="tags">
								<li data-ng-repeat="tag in event.tags" data-ng-bind="tag"></li>
							</ul>
						</div>
						<div class="td one-fourth text-right soft-half--right vertical-align-middle">
							<div class="action-buttons nudge-half--right">
								<a class="first" data-ng-class="{green: isAttending(event)}" href data-ng-click="openAttending(event)" data-tooltip="People Attending"><span class="gamma" data-ng-class="{green: isAttending(event)}">{{ event.attending.length }}</span></a>
								<a href data-ng-click="rsvpToEvent(event._id)" data-ng-hide="isAttending(event)"><i class="icon-thumbs-up"></i> RSVP</a>
								<a href data-ng-click="unRsvpToEvent(event._id)" data-ng-show="isAttending(event)"><i class="icon-thumbs-up-alt"></i> Un-RSVP</a>
							</div>
							<div class="action-buttons green">
								<a href data-ng-href="/event/{{event._id}}">Details <i class="icon-chevron-right epsilon"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- event end -->
	<hr data-ng-show="events.length >= 20 && filteredEvents.length" />
	<a href data-ng-click="loadMore()" class="btn full-width text-center" data-ng-show="moreToLoadNearby && !loadingMore && !loading">Load More</a>
	<a href class="btn full-width text-center" data-ng-show="loadingMore && !loading">Loading more...</a>
</div>

<script type="text/ng-template" id="attendingModal.html">
    <div class="modal-header">
        <h2 class="flush">Attending</h2>
    </div>
    <div class="modal-body">
        <div data-ng-repeat="attendingUser in items" class="user-img-modal nudge-half--right" data-ng-style="{'background-image': 'url(' + attendingUser.pictureUrl + ')'}">
			<a data-ng-href="profile/{{attendingUser.username}}" data-ng-click="clickLink()" data-tooltip="{{attendingUser.displayName}}" data-tooltip-placement="right"></a>
		</div>
		<div data-ng-hide="items.length">
			<h2 class="flush green text-center">No one has RSVPd to this event yet!</h2>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">Close</button>
    </div>
</script>