<div class="white-top">
	<div class="container full-height">
		<div class="table full-height full-width">
			<div class="td one-half text-left vertical-align-middle">
				<ng-switch-toggle-group data-theme="candy" data-ng-model="currentView" data-choices="viewOptions"></ng-switch-toggle-group>
			</div>
			<div class="td one-half vertical-align-middle clearfix">
				<div class="input-prepend float-right">
					<div class="icon">
						<i class="icon-search"></i>
					</div>
					<input type="text" class="search" data-ng-model="searchEvents" placeholder="Search events..." />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends" data-ng-show="currentView == 'school'">
	<div class="soft-half--ends text-right">
		<div class="dropdown">
			<a href class="dropdown-toggle">
				{{ currentSort.label }} <i class="icon-chevron-down muted weight--normal"></i>
			</a>
			<ul class="dropdown-menu pull-right" style="left:none !important;right:0;">
				<li data-ng-repeat="option in sortOptions">
					<a href data-ng-bind="option.label" data-ng-click="changeSort(option)"></a>
				</li>
			</ul>
		</div>
	</div>
	<hr />
	<div class="line nudge-half--ends" data-ng-repeat="event in events | filter:searchEvents | orderBy:currentSort.value">
		<div class="unit one-twelfth">
			<div class="user-img-event" style="background-image: url('https://sphotos-a.xx.fbcdn.net/hphotos-prn1/529791_10151562378398173_554404291_n.jpg')">
				<a href data-tooltip="Jake Marsh" data-tooltip-placement="left" data-ng-href="/profile/jakemmarsh"></a>
			</div>
		</div>
		<div class="unit eleven-twelfths last-unit">
			<div class="box">
				<div class="event-header soft-half--sides">
					<a href="/event/1" class="block-link"></a>
					<h2 class="flush" data-ng-bind="event.title"></h2>
				</div>
				<div class="islet">
					<div class="line">
						<div class="unit four-fifths">
							<span class="delta weight--bold"><span data-ng-bind="event.location"></span>  |  <span data-ng-bind="event.formattedDay"></span>  |  <span data-ng-bind="event.time"></span></h4>
						</div>
						<div class="unit one-fifth last-unit text-right">
							<ul class="tags">
								<li data-ng-repeat="tag in event.tags" data-ng-bind="tag"></li>
							</ul>
						</div>
					</div>
					<p class="pre-wrap" ng-bind-html="event.description | parseUrl"></p>
					<div class="line nudge-half--top">
						<div class="unit one-half">
							<div class="action-buttons">
								<a class="first" href data-ng-click="toggleAttending(1)" data-tooltip="RSVP" data-ng-hide="attending"><i class="icon-thumbs-up"></i></a>
								<a class="first" href data-ng-click="toggleAttending(1)" data-tooltip="Un-RSVP" data-ng-show="attending"><i class="icon-thumbs-up green"></i></a>
								<a href data-ng-click="openAttending(1)" data-tooltip="People Attending"><span class="gamma">357</span></a>
							</div>
						</div>
						<div class="unit one-half last-unit text-right">
							<div class="action-buttons green">
								<a href data-ng-href="/event/1">Details <i class="icon-chevron-right epsilon"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- event end -->
	<a href data-ng-click="loadMore()" class="btn full-width text-center">Load More Events</a>
</div>
<div class="container soft-half--ends" data-ng-show="currentView == 'nearby'">
	<div class="soft-half--ends text-right">
		<div class="dropdown">
			<a href class="dropdown-toggle sort-toggle">
				{{ currentSort.label }} <i class="icon-chevron-down muted weight--normal"></i>
			</a>
			<ul class="dropdown-menu pull-right" style="left:none !important;right:0;">
				<li data-ng-repeat="option in sortOptions">
					<a href data-ng-bind="option.label" data-ng-click="changeSort(option)"></a>
				</li>
			</ul>
		</div>
	</div>
	<hr />
	All events nearby
</div>

<script type="text/ng-template" id="attendingModal.html">
    <div class="modal-header">
        <h2 class="flush">Attending</h2>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">Close</button>
    </div>
</script>