<div class="loading" data-ng-show="loading">
	<h2 class="flush">Loading...</h2>
</div>
<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">My Feed</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends" data-ng-show="!loading">
	<div class="fade" data-ng-repeat="activity in activities | orderBy:'-timestamp'">
		<div data-ng-show="activity.activity == 'subscribed'" class="soft-half--ends">
			<div class="table full-width">
				<div class="tr">
					<div class="td one-twelfth">
						<div class="user-img-event" data-ng-style="{'background-image': 'url(' + activity.actor.pictureUrl + ')'}">
							<a href data-tooltip="{{activity.actor.displayName}}" data-tooltip-placement="left" data-ng-href="/profile/{{activity.actor.username}}"></a>
						</div>
					</div>
					<div class="td eleven-twelfths vertical-align-middle">
						<div class="line">
							<div class="unit three-fourths">
								<a href data-ng-href="/profile/{{activity.actor.username}}">{{activity.actor.displayName}}</a>
								 subscribed to
								  <span data-ng-show="activity.recipient._id == user._id" class="weight--bold">you.</span>
								  <span data-ng-hide="activity.recipient._id == user._id" class="weight--bold">{{activity.recipient.displayName}}</span>
							</div>
							<div class="unit one-fourth last-unit text-right">
								<span class="muted">{{ activity.timestamp | timePast }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-show="activity.activity == 'invited'" class="soft-half--ends">
			<div class="line">
				<div class="unit three-fourths">
					<a href data-ng-href="/profile/{{activity.actor.username}}">{{activity.actor.displayName}}</a>
					 invited you to:
				</div>
				<div class="unit one-fourth last-unit text-right">
					<span class="muted">{{ activity.timestamp | timePast }}</span>
				</div>
			</div>
			<div class="line nudge-half--top">
				<div class="unit one-twelfth">
					<div class="user-img-event" data-ng-style="{'background-image': 'url(' + activity.event.creator.pictureUrl + ')'}">
						<a href data-tooltip="{{activity.event.creator.displayName}}" data-tooltip-placement="left" data-ng-href="/profile/{{activity.event.creator.username}}"></a>
					</div>
				</div>
				<div class="unit eleven-twelfths last-unit">
					<div class="box">
						<div class="event-header soft-half--sides">
							<div class="line">
								<div class="unit one-half">
									<i class="beta icon-circle nudge-half--right float-left" data-ng-show="activity.event.privacy == 'public'" data-tooltip="Public" data-tooltip-placement="top"></i>
									<i class="beta icon-circle-blank nudge-half--right float-left" data-ng-show="activity.event.privacy == 'inviteonly'" data-tooltip="Invite Only" data-tooltip-placement="top"></i>
									<h2 class="flush">
										<a data-ng-href="/event/{{activity.event._id}}">
											{{ activity.event.title }}
										</a>
									</h2>
								</div>
								<div class="unit one-half last-unit text-right">
									Posted by
									 <a data-ng-href="/profile/{{activity.event.creator.username}}">{{activity.event.creator.displayName}}</a>
									 {{ activity.event.timestamp | timePast }}
								</div>
							</div>
						</div>
						<div class="islet">
							<div class="line">
								<div class="unit full-width last-unit">
									<span class="delta weight--bold">
										<span data-ng-show="activity.event.locationName" class="nudge--right">
											<i class="icon-map-marker muted"></i> <span data-ng-bind="activity.event.locationName"></span> 
										</span>
										<span data-ng-show="activity.event.startDate" class="nudge--right">
											<i class="icon-calendar-empty muted"></i> <span>{{ activity.event.startDate | readableDate }}</span>
										</span>
										<span data-ng-show="activity.event.startTime">
											<i class="icon-time muted"></i> <span data-ng-bind="activity.event.startTime"></span>
										</span>
									</span>
								</div>
							</div>
							<hr data-ng-show="activity.event.description" />
							<p class="pre-wrap soft-half--ends" data-ng-show="activity.event.description" data-ng-bind-html="activity.event.description | parseUrl"></p>
						</div>
						<div class="event-footer table full-width soft-quarter--ends">
							<div class="tr">
								<div class="td three-fourths">
									<ul class="tags">
										<li data-ng-repeat="tag in activity.event.tags" data-ng-bind="tag"></li>
									</ul>
								</div>
								<div class="td one-fourth text-right soft-half--right vertical-align-middle">
									<div class="action-buttons green">
										<a href data-ng-href="/event/{{activity.event._id}}">Details <i class="icon-chevron-right epsilon"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- event end -->
		</div>
		<div data-ng-show="activity.activity == 'posted'" class="soft-half--ends">
			<div class="line">
				<div class="unit three-fourths">
					<a href data-ng-href="/profile/{{activity.actor.username}}">{{activity.actor.displayName}}</a>
					 posted an event:
				</div>
				<div class="unit one-fourth last-unit text-right">
					<span class="muted">{{ activity.timestamp | timePast }}</span>
				</div>
			</div>
			<div class="line nudge-half--top">
				<div class="unit one-twelfth">
					<div class="user-img-event" data-ng-style="{'background-image': 'url(' + activity.event.creator.pictureUrl + ')'}">
						<a href data-tooltip="{{activity.event.creator.displayName}}" data-tooltip-placement="left" data-ng-href="/profile/{{activity.event.creator.username}}"></a>
					</div>
				</div>
				<div class="unit eleven-twelfths last-unit">
					<div class="box">
						<div class="event-header soft-half--sides">
							<div class="line">
								<div class="unit one-half">
									<i class="beta icon-circle nudge-half--right float-left" data-ng-show="activity.event.privacy == 'public'" data-tooltip="Public" data-tooltip-placement="top"></i>
									<i class="beta icon-circle-blank nudge-half--right float-left" data-ng-show="activity.event.privacy == 'inviteonly'" data-tooltip="Invite Only" data-tooltip-placement="top"></i>
									<h2 class="flush">
										<a data-ng-href="/event/{{activity.event._id}}">
											{{ activity.event.title }}
										</a>
									</h2>
								</div>
								<div class="unit one-half last-unit text-right">
								</div>
							</div>
						</div>
						<div class="islet">
							<div class="line">
								<div class="unit full-width last-unit">
									<span class="delta weight--bold">
										<span data-ng-show="activity.event.locationName" class="nudge--right">
											<i class="icon-map-marker muted"></i> <span data-ng-bind="activity.event.locationName"></span> 
										</span>
										<span data-ng-show="activity.event.startDate" class="nudge--right">
											<i class="icon-calendar-empty muted"></i> <span>{{ activity.event.startDate | readableDate }}</span>
										</span>
										<span data-ng-show="activity.event.startTime">
											<i class="icon-time muted"></i> <span data-ng-bind="activity.event.startTime"></span>
										</span>
									</span>
								</div>
							</div>
							<hr data-ng-show="activity.event.description" />
							<p class="pre-wrap soft-half--ends" data-ng-show="activity.event.description" data-ng-bind-html="activity.event.description | parseUrl"></p>
						</div>
						<div class="event-footer table full-width soft-quarter--ends">
							<div class="tr">
								<div class="td three-fourths">
									<ul class="tags">
										<li data-ng-repeat="tag in activity.event.tags" data-ng-bind="tag"></li>
									</ul>
								</div>
								<div class="td one-fourth text-right soft-half--right vertical-align-middle">
									<div class="action-buttons green">
										<a href data-ng-href="/event/{{activity.event._id}}">Details <i class="icon-chevron-right epsilon"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- event end -->
		</div>
		<div data-ng-show="activity.activity == 'rsvpd'" class="soft-half--ends">
			<div class="line">
				<div class="unit three-fourths">
					<a href data-ng-href="/profile/{{activity.actor.username}}">{{activity.actor.displayName}}</a>
					 RSVP'd to an event:
				</div>
				<div class="unit one-fourth last-unit text-right">
					<span class="muted">{{ activity.timestamp | timePast }}</span>
				</div>
			</div>
			<div class="line nudge-half--top">
				<div class="unit one-twelfth">
					<div class="user-img-event" data-ng-style="{'background-image': 'url(' + activity.event.creator.pictureUrl + ')'}">
						<a href data-tooltip="{{activity.event.creator.displayName}}" data-tooltip-placement="left" data-ng-href="/profile/{{activity.event.creator.username}}"></a>
					</div>
				</div>
				<div class="unit eleven-twelfths last-unit">
					<div class="box">
						<div class="event-header soft-half--sides">
							<div class="line">
								<div class="unit one-half">
									<i class="beta icon-circle nudge-half--right float-left" data-ng-show="activity.event.privacy == 'public'" data-tooltip="Public" data-tooltip-placement="top"></i>
									<i class="beta icon-circle-blank nudge-half--right float-left" data-ng-show="activity.event.privacy == 'inviteonly'" data-tooltip="Invite Only" data-tooltip-placement="top"></i>
									<h2 class="flush">
										<a data-ng-href="/event/{{activity.event._id}}">
											{{ activity.event.title }}
										</a>
									</h2>
								</div>
								<div class="unit one-half last-unit text-right">
									Posted by
									 <a data-ng-href="/profile/{{activity.event.creator.username}}">{{activity.event.creator.displayName}}</a>
									 {{ activity.event.timestamp | timePast }}
								</div>
							</div>
						</div>
						<div class="islet">
							<div class="line">
								<div class="unit full-width last-unit">
									<span class="delta weight--bold">
										<span data-ng-show="activity.event.locationName" class="nudge--right">
											<i class="icon-map-marker muted"></i> <span data-ng-bind="activity.event.locationName"></span> 
										</span>
										<span data-ng-show="activity.event.startDate" class="nudge--right">
											<i class="icon-calendar-empty muted"></i> <span>{{ activity.event.startDate | readableDate }}</span>
										</span>
										<span data-ng-show="activity.event.startTime">
											<i class="icon-time muted"></i> <span data-ng-bind="activity.event.startTime"></span>
										</span>
									</span>
								</div>
							</div>
							<hr data-ng-show="activity.event.description" />
							<p class="pre-wrap soft-half--ends" data-ng-show="activity.event.description" data-ng-bind-html="activity.event.description | parseUrl"></p>
						</div>
						<div class="event-footer table full-width soft-quarter--ends">
							<div class="tr">
								<div class="td three-fourths">
									<ul class="tags">
										<li data-ng-repeat="tag in activity.event.tags" data-ng-bind="tag"></li>
									</ul>
								</div>
								<div class="td one-fourth text-right soft-half--right vertical-align-middle">
									<div class="action-buttons green">
										<a href data-ng-href="/event/{{activity.event._id}}">Details <i class="icon-chevron-right epsilon"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- event end -->
		</div>
		<div data-ng-show="activity.activity == 'commented'" class="soft-half--ends">
			<div class="line">
				<div class="unit three-fourths">
					<a href data-ng-href="/profile/{{activity.actor.username}}">{{activity.actor.displayName}}</a>
					 commented on the event <a href data-ng-href="/event/{{activity.event._id}}">{{activity.event.title}}</a>:
				</div>
				<div class="unit one-fourth last-unit text-right">
					<span class="muted">{{ activity.timestamp | timePast }}</span>
				</div>
			</div>
			<div class="line nudge-half--top">
				<div class="unit one-tenth">
					<div class="user-img-comment" data-ng-style="{'background-image': 'url(' + activity.comment.creator.pictureUrl + ')'}">
						<a href data-tooltip="{{activity.comment.creator.displayName}}" data-tooltip-placement="left" data-ng-href="profile/{{activity.comment.creator.username}}"></a>
					</div>
				</div>
				<div class="unit nine-tenths last-unit">
					<div class="box islet comment">
						<p class="nudge-half--bottom pre-wrap" data-ng-bind-html="activity.comment.body | parseUrl"></p>
						<div class="table full-width">
							<div class="td one-half">
								<div class="action-buttons comment nudge-half--top">
									<a class="first" href><span class="gamma" data-ng-class="{green: likesComment(activity.comment)}">{{ comment.likes.length }}</span></a>
									<a href data-ng-click="likeComment(activity.comment)" data-ng-hide="likesComment(activity.comment)">
										<i class="icon-heart"></i> Like
									</a>
									<a href data-ng-click="unlikeComment(activity.comment)" data-ng-show="likesComment(activity.comment)">
										<i class="icon-heart-empty"></i> Unlike
									</a>
								</div>
							</div>
							<div class="td one-half text-right">
								<span class="muted epsilon" data-ng-bind="activity.comment.posted | timePast"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr />
	</div>
	<div data-ng-show="!activities.length && !loading">
		<h2 class="flush green text-center">There hasn't been any activity related to you yet. Try subscribing to other users!</h2>
	</div>
	<a href data-ng-click="loadMore()" class="btn full-width text-center" data-ng-show="moreToLoad && !loadingMore && !loading">Load More</a>
	<a href class="btn full-width text-center" data-ng-show="loadingMore && !loading">Loading more...</a>
</div>

<script type="text/ng-template" id="attendingModal.html">
    <div class="modal-header">
        <h2 class="flush">Attending</h2>
    </div>
    <div class="modal-body">
        <div data-ng-repeat="attendingUser in items" class="user-img-modal nudge-half--right" data-ng-style="{'background-image': 'url(' + attendingUser.pictureUrl + ')'}">
			<a data-ng-href="profile/{{attendingUser.username}}" data-ng-click="clickLink()" data-tooltip="{{attendingUser.displayName}}" data-tooltip-placement="right"></a>
		</div>
		<div data-ng-hide="items.length">
			<h2 class="flush text-center">No one has RSVPd to this event yet!</h2>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">Close</button>
    </div>
</script>