<div class="white-top">
	<div class="container full-height">
		<div class="table full-height full-width">
			<div class="td vertical-align-middle one-half">
				<h1 class="flush highlight">My Feed</h1>
			</div>
			<div class="td vertical-align-middle one-half clearfix">
				<div class="input-prepend float-right">
					<div class="icon">
						<i class="icon-search"></i>
					</div>
					<input type="text" class="search" placeholder="Search feed..." />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	Feed
</div>