<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Forgotten Password</h1>
			</div>
		</div>
	</div>
</div>
<div class="table full-width full-height__header" ng-hide="emailSent">
	<div class="td full-height full-width vertical-align-middle text-center">
		<div class="box island inline-block text-left top-highlight" style="max-width:500px;">
			<form name="passwordForm" ng-submit="sendEmail()">
				<p class="nudge-half--bottom">Enter your account's username in the space below. A link to reset your password will be sent to the email address associated with the account.</p>
				<label for="username" class="muted">Username</label>
				<div class="input-prepend full">
					<div class="icon">
						<i class="fa fa-user"></i>
					</div>
					<input type="text" id="username" ng-model="username" placeholder="your username" required />
				</div>
				<span class="block red weight--bold nudge--top" ng-show="forgotError" ng-bind="forgotError"></span>
				<input type="submit" value="Send Link" class="btn full-width nudge--top" ng-disabled="passwordForm.$invalid" />
			</form>
		</div>
	</div>
</div>
<div class="container soft-half--ends" ng-show="emailSent">
	<h1 class="green flush">Email Sent!</h1>
	<p class="gamma nudge--top">An email has been sent to the address associated with the username you provided. It will contain a link that you can use to reset your password.</p>
</div>