<nav class="sidebar">
	<ul data-ng-show="getClass('/login')">
		<li class="solo">
			<div class="link">
				<i class="icon-signin"></i>
				Login
			</div>
		</li>
	</ul>
	<ul data-ng-show="getClass('/register')">
		<li class="solo">
			<div class="link">
				<i class="icon-edit"></i>
				Register
			</div>
		</li>
	</ul>
	<ul data-ng-show="getClass('/forgot')">
		<li class="solo">
			<div class="link">
				<i class="icon-question"></i>
				Forgot
			</div>
		</li>
	</ul>
	<ul data-ng-hide="getClass('/login') || getClass('/register') || getClass('/forgot')">
		<li class="post" data-ng-class="{true:'active', false:''}[getClass('/post')]">
			<a href="/post" class="link">
				<i class="icon-plus"></i>
				Post
			</a>
		</li>
		<li data-ng-class="{true:'active', false:''}[getClass('/feed')]">
			<a href="/feed" class="link">
				<div class="user-img" style="background-image: url('https://sphotos-a.xx.fbcdn.net/hphotos-prn1/529791_10151562378398173_554404291_n.jpg')"></div>
				My Feed
			</a>
		</li>
		<li data-ng-class="{true:'active', false:''}[getClass('/events')]">
			<a href="/events" class="link">
				<i class="icon-list-ul"></i>
				Events
			</a>
		</li>
		<li data-ng-class="{true:'active', false:''}[getClass('/calendar')]">
			<a href="/calendar" class="link">
				<i class="icon-calendar-empty"></i>
				Calendar
			</a>
		</li>
		<li data-ng-class="{true:'active', false:''}[getClass('/settings')]">
			<a href="/settings" class="link">
				<i class="icon-cogs"></i>
				Settings
			</a>
		</li>
		<li class="logout">
			<a href="/logout" class="link">
				<i class="icon-signout"></i>
				Sign Out
			</a>
		</li>
	</ul>
</nav>
<section class="main" data-ui-view></section>