<nav class="sidebar" data-fixed-sidebar>
	<ul data-ng-show="getClass('/login') || getClass('/register') || getClass('/forgot')">
		<li class="solo" data-ng-show="getClass('/login')">
			<div class="link">
				<i class="icon-signin"></i>
				Login
			</div>
		</li>
		<li class="solo" data-ng-show="getClass('/register')">
			<a href="/register" class="link">
				<i class="icon-edit"></i>
				Register
			</a>
		</li>
		<li class="solo" data-ng-show="getClass('/forgot')">
			<div class="link">
				<i class="icon-question"></i>
				Forgot
			</div>
		</li>
		<div class="bottom">
			<li>
				<a href="/" class="link">
					<i class="icon-home"></i>
					Home
				</a>
			</li>
		</div>
	</ul>
	<ul data-ng-show="(getClass('/privacy') || getClass('/contact')) && !isLoggedIn()">
		<li class="solo" data-ng-show="getClass('/privacy')">
			<div class="link">
				<i class="icon-question"></i>
			</div>
		</li>
		<li class="solo" data-ng-show="getClass('/contact')">
			<div class="link">
				<i class="icon-envelope"></i>
			</div>
		</li>
		<div class="bottom">
			<li>
				<a href="/" class="link">
					<i class="icon-home"></i>
					Home
				</a>
			</li>
		</div>
	</ul>
	<ul data-ng-hide="getClass('/login') || getClass('/register') || getClass('/forgot') || !isLoggedIn()">
		<li class="post" data-ng-class="{true:'active', false:''}[getClass('/post')]">
			<a href="/post" class="link">
				<i class="icon-plus"></i>
				Post
			</a>
		</li>
		<li data-ng-class="{true:'active', false:''}[getClass('/feed')]">
			<a href="/feed" class="link">
				<i class="icon-list-ul"></i>
				My Feed
			</a>
		</li>
		<li data-ng-class="{true:'active', false:''}[getClass('/explore')]">
			<a href="/explore" class="link">
				<i class="icon-compass"></i>
				Explore
			</a>
		</li>
		<li data-ng-class="{true:'active', false:''}[getClass('/calendar')]">
			<a href="/calendar" class="link">
				<i class="icon-calendar-empty"></i>
				Calendar		
			</a>
		</li>
		<div class="bottom">
			<li data-ng-class="{true:'active', false:''}[getClass('/settings')]">
				<a href="/settings" class="link">
					<i class="icon-cogs"></i>
					Settings
				</a>
			</li>
			<li>
				<a href data-ng-click="logout()" class="link">
					<i class="icon-signout"></i>
					Sign Out
				</a>
			</li>
		</div>
	</ul>
</nav>
<section class="main full-height" data-ui-view></section>