<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Login to Campuslively</h1>
			</div>
		</div>
	</div>
</div>
<div class="table full-width full-height__header">
	<div class="td vertical-align-middle text-center">
		<div class="box island inline-block text-left top-highlight" style="min-width: 425px;">
			<img src="https://s3.amazonaws.com/campuslively/assets/img/logo.png" alt="Campuslively logo" style="width: 250px;" class="center-block" />
			<form name="loginForm" ng-submit="login()" class="nudge-half--ends">
				<label for="username" class="muted">Username</label>
				<div class="input-prepend full nudge--bottom">
					<div class="icon">
						<i class="fa fa-user"></i>
					</div>
					<input type="text" id="username" ng-model="username" placeholder="username" required autofocus />
				</div>
				<label for="password" class="muted">Password</label>
				<div class="input-prepend full nudge--bottom">
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
					<input type="password" id="password" ng-model="password" placeholder="password" required />
				</div>
				<span class="block red weight--bold nudge--bottom" ng-show="loginError && !showResend" ng-bind="loginError"></span>
				<span class="block red weight--bold nudge--bottom" ng-show="showResend && !emailResent">Account has not been activated. <a href ng-click="resendActivation(username)">Resend activation email</a></span>
				<span class="block green weight--bold nudge--bottom" ng-show="emailResent">Your activation email has been resent.</span>
				<input type="submit" value="Login" class="btn full-width" ng-disabled="loginForm.$invalid" />
			</form>
			<a href="/forgot" class="block">Forgot your password?</a>
			<a href="/register" class="block nudge-quarter--top">Not registered yet?</a>
		</div>
	</div>
</div>