<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Login to Campuslively</h1>
			</div>
		</div>
	</div>
</div>
<div class="table full-width full-height__header">
	<div class="td full-height full-width vertical-align-middle text-center">
		<div class="box island inline-block text-left top-highlight">
			<form name="loginForm" ng-submit="login()" class="nudge-half--bottom">
				<h1 class="flush text-center">Logo Here</h1>
				<label for="username" class="muted">Username</label>
				<div class="input-prepend nudge--bottom">
					<div class="icon">
						<i class="icon-user"></i>
					</div>
					<input type="text" id="username" data-ng-model="username" placeholder="username" required />
				</div>
				<label for="password" class="muted">Password</label>
				<div class="input-prepend nudge--bottom">
					<div class="icon">
						<i class="icon-lock"></i>
					</div>
					<input type="password" id="password" data-ng-model="password" placeholder="password" required />
				</div>
				<input type="submit" value="Login" class="btn full-width" data-ng-disabled="loginForm.$invalid" />
			</form>
			<a href="/forgot">Forgot your password?</a>
		</div>
	</div>
</div>