<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Create An Event</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--top soft--bottom">
	<form name="eventForm" data-ng-submit="postEvent()" data-ng-hide="eventPosted">
		<div class="table full-width">
			<div class="tr">
				<div class="td one-twelfth soft-half--right soft-half--bottom">
					<label for="name" class="caps weight--bold">Name <span class="red">*</span></label>
				</div>
				<div class="td eleven-twelfths soft-half--bottom">
					<input type="text" id="name" data-ng-model="eventName" class="full-width" placeholder="Event name" required />
				</div>
			</div>
			<div class="tr">
				<div class="td one-twelfth soft-half--bottom">
					<label for="details" class="caps weight--bold">Details</label>
				</div>
				<div class="td eleven-twelfths soft-half--bottom">
					<textarea id="details" data-ng-model="eventDetails" class="full-width big" placeholder="Details about the event"></textarea>
				</div>
			</div>
			<div class="tr">
				<div class="td one-twelfth soft-half--bottom vertical-align-middle">
					<label for="location" class="caps weight--bold">Where <span class="red">*</span></label>
				</div>
				<div class="td eleven-twelfths soft-half--bottom">
					<div class="input-prepend full">
						<div class="icon">
							<i class="icon-map-marker"></i>
						</div>
						<input type="text" id="location" data-ng-model="eventLocation" placeholder="Location of event" data-ng-required="!locationAddress" data-typeahead="venue.name for venue in venues | filter:$viewValue | limitTo:8" data-typeahead-min-length="0" data-ng-blur="checkLocation()" />
					</div>
					<span class="epsilon">If the venue you're looking for doesn't appear, you can enter the name and/or address separately.</span>
				</div>
			</div>
			<div class="tr" data-ng-show="showAddressInput">
				<div class="td one-twelfth soft-half--bottom vertical-align-middle">
				</div>
				<div class="td eleven-twelfths soft-half--bottom">
					<input type="text" class="full-width" id="locationAddress" data-ng-model="locationAddress" placeholder="Address of location" data-ng-blur="checkAddress()" data-ng-required="!eventLocation" />
				</div>
			</div>
			<div class="tr">
				<div class="td one-twelfth soft-half--bottom">
				</div>
				<div class="td eleven-twelfths soft-half--bottom">
					<div data-ui-map="locationMap" data-ui-options="mapOptions" class="map"></div>
				</div>
			</div>
		</div>
		<div class="table full-width soft-half--bottom">
			<div class="tr">
				<div class="td one-twelfth soft-half--bottom vertical-align-middle">
					<label for="starts" class="caps weight--bold">When <span class="red">*</span></label>
				</div>
				<div class="td three-twelfths soft-half--bottom soft--right">
					<div class="input-prepend full">
						<div class="icon pointer" data-ng-click="openDatepicker()">
							<i class="icon-calendar-empty"></i>
						</div>
						<input type="text" id="starts" data-ng-model="eventDate" placeholder="Date" data-datepicker-popup="MM/dd/yy" data-is-open="datepickerOpened" data-min="today" data-show-weeks="false" required />
					</div>
				</div>
				<div class="td three-twelfths soft-half--bottom">
					<div class="input-prepend full">
						<div class="icon">
							<i class="icon-time"></i>
						</div>
						<input type="text" id="starts" data-ng-model="startTime" placeholder="Start time" />
					</div>
				</div>
				<div class="td five-twelfths soft-half--bottom"></div>
			</div>
		</div>
		<div class="table full-width">
			<div class="tr">
				<div class="td one-twelfth vertical-align-middle soft-half--bottom">
					<label for="private" class="caps weight--bold">Privacy</label>
				</div>
				<div class="td five-twelfths soft-half--bottom">
					<div class="dropdown">
						<a href class="dropdown-toggle">
							{{ eventPrivacy.label }} <i class="icon-chevron-down muted weight--normal"></i>
						</a>
						<ul class="dropdown-menu">
							<li data-ng-repeat="option in privacyOptions">
								<a href data-ng-bind="option.label" data-ng-click="changePrivacy(option)"></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="td one-half text-right soft-half--bottom"></div>
			</div>
			<div class="tr">
				<div class="td one-twelfth"></div>
				<div class="td five-twelfths"></div>
				<div class="td one-half text-right">
					<input type="submit" class="btn" value="Post Event" data-ng-disabled="eventForm.$invalid" />
				</div>
			</div>
		</div>
	</form>
	<div data-ng-show="eventPosted">
		<h1 class="flush green soft-half--bottom">Your event has been posted!</h1>

		<h2 class="flush">Invite your friends:</h2>
		<p class="nudge-half--ends">Facebook friends list</p>

		<h2 class="flush">Share the event:</h2>
		<p class="nudge-half--ends">Twitter/Facebook/Direct Link</p>
	</div>
</div>