<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Post An Event</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--top soft--bottom">
	<form name="eventForm" data-ng-submit="postEvent()" data-ng-hide="eventPosted">
		<div class="line nudge-half--bottom">
			<div class="unit one-twelfth label-container">
				<label for="name" class="caps weight--bold">Name <span class="red">*</span></label>
			</div>
			<div class="unit eleven-twelfths last-unit">
				<input type="text" id="name" data-ng-model="event.title" class="full-width" placeholder="Event name" required />
			</div>
		</div>
		<div class="line nudge-half--bottom">
			<div class="unit one-twelfth label-container">
				<label for="details" class="caps weight--bold">Details</label>
			</div>
			<div class="unit eleven-twelfths last-unit">
				<textarea id="details" data-ng-model="event.description" class="full-width medium" placeholder="Details about the event"></textarea>
			</div>
		</div>
		<div class="line">
			<div class="unit one-twelfth label-container">
				<label for="location" class="caps weight--bold">Where <span class="red">*</span></label>
			</div>
			<div class="unit eleven-twelfths last-unit">
				<div class="input-prepend full">
					<div class="icon">
						<i class="fa fa-building-o"></i>
					</div>
					<input class="foursquare" type="text" id="location" data-ng-model="eventLocation" placeholder="Location of event" data-ng-required="!locationAddress" data-typeahead="venue.name for venue in venues | filter:$viewValue | limitTo:8" data-typeahead-min-length="0" data-ng-blur="checkLocation()" autocomplete="off" />
				</div>
			</div>
		</div>
		<div class="line">
			<div class="unit one-twelfth label-container"></div>
			<div class="unit eleven-twelfths last-unit">
				<span class="epsilon">If the venue you're looking for doesn't appear, you can separately enter a new name and/or address.</span>
			</div>
		</div>
		<div class="line nudge-half--bottom" data-ng-show="showAddressInput">
			<div class="unit one-twelfth label-container"></div>
			<div class="unit eleven-twelfths last-unit">
				<div class="input-prepend full">
					<div class="icon">
						<i class="fa fa-map-marker"></i>
					</div>
					<input type="text" class="full-width" id="locationAddress" data-ng-model="locationAddress" placeholder="Address of location" data-ng-blur="checkAddress()" data-ng-required="!eventLocation" />
				</div>
			</div>
		</div>
		<div class="line nudge-half--bottom">
			<div class="unit one-twelfth label-container"></div>
			<div class="unit eleven-twelfths last-unit">
				<div data-ui-map="locationMap" data-ui-options="mapOptions" class="map"></div>
			</div>
		</div>
		<div class="line nudge-half--bottom">
			<div class="unit one-twelfth label-container">
				<label for="eventDate" class="caps weight--bold">When <span class="red">*</span></label>
			</div>
			<div class="unit three-twelfths soft--right">
				<div class="input-prepend full">
					<div class="icon pointer" data-ng-click="openDatepicker()">
						<i class="fa fa-calendar-o"></i>
					</div>
					<input type="text" id="eventDate" data-datepicker-popup="MM/dd/yy" data-ng-model="event.startDate" name="eventDate" placeholder="9/30/13" data-is-open="datepickerOpened" data-min="today" data-show-weeks="false" required />
				</div>
			</div>
			<div class="unit three-twelfths">
				<div class="input-prepend full">
					<div class="icon">
						<i class="fa fa-clock-o"></i>
					</div>
					<input type="text" id="startTime" data-ng-model="event.startTime" name="startTime" placeholder="9:00pm" data-ng-pattern="/(^([0-9]|[0][0-9]|[1][0-2]):([0-5][0-9])(\s{0,1})([AM|PM|am|pm]{2,2})$)|(^([0-9]|[1][0-9]|[2][0-3])(\s{0,1})([AM|PM|am|pm]{2,2})$)/" />
				</div>
			</div>
			<div class="unit five-twelfths last-unit"></div>
		</div>
		<div class="line nudge-half--bottom">
			<div class="unit one-twelfth label-container">
				<label for="eventTags" class="caps weight--bold">Tags</label>
			</div>
			<div class="unit eleven-twelfths last-unit">
				<input type="text" id="eventTags" name="eventTags" class="full-width" data-ui-select2="tagOptions" data-ng-model="event.tags" placeholder="Enter up to 3 tags" />
			</div>
		</div>
		<div class="line nudge-half--bottom">
			<div class="unit one-twelfth label-container">
				<label for="eventImage" class="caps weight--bold">Picture</label>
			</div>
			<div class="unit eleven-twelfths last-unit">
				<input class="full-width" id="eventImage" name="eventImage" type="file" accept="image/*" data-image="eventImage" />
			</div>
		</div>
		<div class="event-img nudge-half--bottom" data-ng-show="eventImage" data-ng-style="{'background-image': 'url(' + eventImage.url + ')'}"></div>
		<div class="line nudge-half--bottom">
			<div class="unit one-twelfth label-container">
				<label for="private" class="caps weight--bold">Privacy</label>
			</div>
			<div class="unit five-twelfths label-container last-unit">
				<div class="dropdown">
					<a href class="dropdown-toggle">
						{{ eventPrivacy.label }} <i class="fa fa-chevron-down muted weight--normal"></i>
					</a>
					<ul class="dropdown-menu">
						<li data-ng-repeat="option in privacyOptions">
							<a href data-ng-bind="option.label" data-ng-click="changePrivacy(option)"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="unit one-half text-right"></div>
		</div>
		<div class="line">
			<div class="unit full-width last-unit">
				<span class="red weight--bold nudge-half--bottom" data-ng-show="eventForm.startTime.$error.pattern">Not a valid time. Must be of format HH:MM(am/pm)</span>
				<span class="red weight--bold nudge-half--bottom" data-ng-show="postError" data-ng-bind="postError"></span>
			</div>
		</div>
		<div class="line">
			<div class="unit full-width last-unit text-right">
				<input type="submit" class="btn" value="Post Event" data-ng-disabled="eventForm.$invalid" />
			</div>
		</div>
	</form>
	<div data-ng-show="eventPosted" data-ng-controller="postedCtrl">
		<div data-ng-hide="invitesSent">
			<h2 class="flush green">Select people to invite:</h2>
			<h2 class="blue text-center" data-ng-show="loadingUsers">Loading...</h2>
			<input type="text" class="full-width nudge-half--bottom" placeholder="Search users..." data-ng-model="searchUsers" data-ng-show="users.length" />
	    	<div data-ng-repeat="user in filteredUsers = (users | filter:searchUsers | orderBy: 'displayName')" class="inline-block islet" data-ng-class="{highlight: isInvitee(user._id)}">
	    		<div class="user-img-modal" data-ng-style="{'background-image': 'url(' + user.pictureUrl + ')'}">
					<a href data-ng-click="toggleInvitee(user._id)" data-tooltip="{{user.displayName}}" data-tooltip-placement="bottom"></a>
				</div>
			</div>
			<h2 class="blue text-center" data-ng-show="!users.length && !loadingUsers">No users left to invite!</h2>
			<h2 class="blue text-center" data-ng-show="!filteredUsers.length && !loadingUsers">No users match your search.</h2>
			<div class="text-right nudge-half--ends">
				<a href class="btn text-center" data-ng-click="sendInvites()" data-ng-disabled="!invitees.length">Send Invites</a>
			</div>
		</div>
		<h2 class="blue text-center" data-ng-show="invitesSent">Invites sent!</h2>
		<h2 class="flush green">Share the event:</h2>
		<h3 class="caps nudge-half--ends">Event URL:</h3>
    	<input type="text" class="full-width" data-ng-model="eventUrl" data-input-select />
    	<div class="line nudge--top">
	    	<div class="unit one-third soft--right">
	        	<a data-ng-click="openTweet()" class="btn twitter full-width text-center"><i class="fa fa-twitter"></i> Tweet</a>
			</div>
			<div class="unit one-third soft-half--sides">
				<a href data-ng-click="shareEvent()" class="btn fb full-width text-center"><i class="fa fa-facebook"></i> Share</a>
			</div>
			<div class="unit one-third last-unit soft--left">
				<a href data-ng-click="sendEvent()" class="btn fb full-width text-center"><i class="fa fa-facebook"></i> Send</a>
			</div>
		</div>
	</div>
</div>