<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Press</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div class="table full-width">
		<div class="td one-sixth">
			<img src="http://assets.campuslively.com/img/BU-Master-Logo.png" class="full-width" />
		</div>
		<div class="td five-sixths vertical-align-middle soft--left">
			<a href="http://www.bu.edu/entrepreneurship/events/new-venture-competitions/pitch-pizza/" target="_blank"><h2 class="flush ">2014 Spring Pitch Pizza Competition Winners</h2></a>
			<h3 class="flush">February 7, 2014</h3>
		</div>
	</div>
</div>