<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td one-tenth full-height vertical-align-middle soft-half--right">
				<div class="user-img-profile" data-ng-style="{'background-image': 'url(' + profile.pictureUrl + ')'}"></div>
			</div>
			<div class="td three-tenths full-height">
				<h1 class="flush" data-ng-show="profile.type == 'student'"><span data-ng-bind="profile.firstName"></span> <span data-ng-bind="profile.lastName"></span></h1>
				<h1 class="flush" data-ng-show="profile.type == 'business'" data-ng-bind="profile.businessName"></h1>
				<div class="normal-lh">
					<a href data-ng-click="openLocation()" data-tooltip="Location">
						<i class="beta icon-map-marker nudge-half--right"></i>
					</a>
					<a href="http://www.google.com/" target="_blank" data-tooltip="Website">
						<i class="beta icon-paper-clip nudge-half--right"></i>
					</a>
					<a href="http://www.twitter.com/" target="_blank" data-tooltip="Twitter">
						<i class="beta icon-twitter nudge-half--right"></i>
					</a>
					<a href="http://www.facebook.com" target="_blank" data-tooltip="Facebook">
						<i class="beta icon-facebook nudge-half--right"></i>
					</a>

				</div>
			</div>
			<div class="td six-tenths full-height normal-lh vertical-align-middle text-right">
				<a href class="btn nudge-half--right" data-ng-click="toggleSubscribe()" data-ng-hide="isSubscribed() || profile._id == user._id"><i class="icon-star"></i> Subscribe</a>
				<a href class="btn nudge-half--right" data-ng-click="toggleSubscribe()" data-ng-show="isSubscribed() && profile._id != user._id"><i class="icon-star-empty"></i> Unsubscribe</a>
			</div>

		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div class="box top-highlight islet nudge-half--bottom" data-ng-show="profile.type == 'business' && profile.businessDescription">
		<div class="line nudge-half--bottom">
			<div class="unit three-percent">
				<h4 class="flush"><i class="muted icon-align-left"></i></h4>
			</div>
			<div class="unit ninety-seven-percent last-unit">
				<p class="pre-wrap" data-ng-bind="profile.businessDescription">Bijou Nightclub is the premier club in Boston. Get a table with your close friends and enjoy premium bottle services. The hottest DJ's in Boston!</p>
			</div>
		</div>
		<carousel interval="5000" class="flush">
			<slide ng-repeat="slide in slides" active="slide.active">
				<img ng-src="{{slide.image}}" style="margin:auto;">
			</slide>
		</carousel>
	</div>
	<div class="table full-width" data-ng-show="profile.postedEvents">
		<div class="tr">
			<div class="td one-half vertical-align-middle">
				<h2 class="flush">Posted Events</h2>
			</div>
			<div class="td one-half vertical-align-middle text-right">
				<div class="dropdown">
					<a href class="dropdown-toggle">
						{{ currentSort.label }} <i class="icon-chevron-down muted weight--normal"></i>
					</a>
					<ul class="dropdown-menu pull-right" style="left:none !important;right:0;">
						<li data-ng-repeat="option in sortOptions">
							<a href data-ng-bind="option.label" data-ng-click="changeSort(option)"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr data-ng-show="profile.postedEvents" />
	<div data-ng-show="profile.postedEvents">
		<div class="line nudge-half--ends">
			<div class="unit one-twelfth">
				<div class="user-img-event" style="background-image: url('https://sphotos-a.xx.fbcdn.net/hphotos-prn1/529791_10151562378398173_554404291_n.jpg')"></div>
			</div>
			<div class="unit eleven-twelfths last-unit">
				<div class="box">
					<div class="event-header soft-half--sides">
						<a href="/event/1" class="block-link"></a>
						<h2 class="flush">DJ Hardo</h2>
					</div>
					<div class="islet">
						<div class="line">
							<div class="unit four-fifths">
								<span class="delta weight--bold"><i class="icon-map-marker muted"></i> Bijou Nightclub <i class="icon-calendar-empty muted nudge-half--left"></i> June 10th <i class="icon-time muted nudge-half--left"></i> 11:30pm - 2am</span>
							</div>
							<div class="unit one-fifth last-unit text-right">
								<ul class="tags">
									<li>club</li>
									<li>live music</li>
								</ul>
							</div>
						</div>
						<p class="pre-wrap">Famous Miami-based DJ Hardo LIVE at Bijou tonight! Tickets are $20 at the door. Order now and get them for $15! www.bijounightclub.com</p>
						<div class="line nudge-half--top">
							<div class="unit one-half">
								<div class="action-buttons">
									<a class="first" href data-ng-click="toggleAttending(1)" data-tooltip="RSVP" data-ng-hide="attending"><i class="icon-thumbs-up"></i></a>
									<a class="first" href data-ng-click="toggleAttending(1)" data-tooltip="Un-RSVP" data-ng-show="attending"><i class="icon-thumbs-up green"></i></a>
									<a href data-ng-click="openAttending(1)" data-tooltip="People Attending"><span class="gamma">357</span></a>
								</div>
							</div>
							<div class="unit one-half last-unit text-right">
								<div class="action-buttons green">
									<a href data-ng-href="/event/1">Details <i class="icon-chevron-right epsilon"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- event end -->
	</div>
	<div class="text-center" data-ng-hide="profile.posted">
		<h1 class="flush blue" data-ng-show="profile.type == 'student' && profile._id !== user._id"><span data-ng-bind="profile.firstName"></span> <span data-ng-bind="profile.lastName"></span> has not posted any events!</h1>
		<h1 class="flush blue" data-ng-show="profile.type == 'business'"><span data-ng-bind="profile.businessName"></span> has not posted any events!</h1>
		<div data-ng-show="profile._id == user._id">
			<h1 class="flush blue">You haven't posted any events!</h1>
			<a href="/post" class="btn nudge--top">Create Event</a>
		</div>
	</div>
</div>

<script type="text/ng-template" id="attendingModal.html">
    <div class="modal-header">
        <h2 class="flush">Attending</h2>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="locationModal.html">
    <div class="modal-header">
        <h2 class="flush">Location</h2>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">Close</button>
    </div>
</script>