<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td one-tenth full-height vertical-align-middle soft-half--right">
				<div class="user-img-profile" data-ng-style="{'background-image': 'url(' + profile.pictureUrl + ')'}"></div>
			</div>
			<div class="td three-tenths full-height">
				<h1 class="flush" data-ng-show="profile.type == 'student'"><span data-ng-bind="profile.firstName"></span> <span data-ng-bind="profile.lastName"></span></h1>
				<h1 class="flush" data-ng-show="profile.type == 'business'" data-ng-bind="profile.businessName"></h1>
				<div class="normal-lh">
					<a href data-ng-click="openLocation(profile)" data-tooltip="Location" data-ng-show="profile.type == 'business' && profile.loc">
						<i class="beta icon-map-marker nudge-half--right"></i>
					</a>
					<a data-ng-href="{{profile.website}}" target="_blank" data-tooltip="Website" data-ng-show="profile.type == 'business' && profile.website">
						<i class="beta icon-paper-clip nudge-half--right"></i>
					</a>
					<a href="http://www.twitter.com/" target="_blank" data-tooltip="Twitter">
						<i class="beta icon-twitter nudge-half--right"></i>
					</a>
					<a href="http://www.facebook.com" target="_blank" data-tooltip="Facebook">
						<i class="beta icon-facebook nudge-half--right"></i>
					</a>

				</div>
			</div>
			<div class="td six-tenths full-height normal-lh vertical-align-middle text-right">
				<a href class="btn nudge-half--right" data-ng-click="toggleSubscribe()" data-ng-hide="isSubscribed() || profile._id == user._id"><i class="icon-star"></i> Subscribe</a>
				<a href class="btn nudge-half--right" data-ng-click="toggleSubscribe()" data-ng-show="isSubscribed() && profile._id != user._id"><i class="icon-star-empty"></i> Unsubscribe</a>
			</div>

		</div>
	</div>
</div>
<div class="table full-width full-height__header" data-ng-show="loading">
	<div class="td full-height full-width vertical-align-middle text-center">
		<div class="box island inline-block text-center">
			<h1 class="flush blue">Loading events...</h1>
		</div>
	</div>
</div>
<div class="container soft-half--ends" data-ng-hide="loading">
	<div class="box top-highlight islet nudge-half--bottom" data-ng-show="profile.type == 'business' && profile.businessDescription">
		<div class="line">
			<div class="unit three-percent">
				<h4 class="flush"><i class="muted icon-align-left"></i></h4>
			</div>
			<div class="unit ninety-seven-percent last-unit">
				<p class="pre-wrap" data-ng-bind-html="profile.businessDescription | parseUrl"></p>
			</div>
		</div>
		<carousel interval="5000" class="flush nudge-half--top" data-ng-show="profile.businessPictureUrls">
			<slide ng-repeat="slide in profile.businessPictureUrls" active="slide.active">
				<img ng-src="{{slide}}" style="margin:auto;">
			</slide>
		</carousel>
	</div>
	<div class="table full-width" data-ng-show="events.length">
		<div class="tr">
			<div class="td one-half vertical-align-middle">
				<h2 class="flush">Posted Events</h2>
			</div>
			<div class="td one-half vertical-align-middle text-right">
				<div class="dropdown">
					<a href class="dropdown-toggle">
						{{ currentSort.label }} <i class="icon-chevron-down muted weight--normal"></i>
					</a>
					<ul class="dropdown-menu pull-right" style="left:none !important;right:0;">
						<li data-ng-repeat="option in sortOptions">
							<a href data-ng-bind="option.label" data-ng-click="changeSort(option)"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr data-ng-show="events.length" />
	<div class="line nudge--ends" data-ng-repeat="event in events | orderBy:currentSort.value">
		<div class="unit one-twelfth">
			<div class="user-img-event" data-ng-style="{'background-image': 'url(' + event.creator.pictureUrl + ')'}">
				<a href data-tooltip="{{event.creator.businessName}}" data-tooltip-placement="left" data-ng-href="/profile/{{event.creator.username}}" data-ng-show="event.creator.type == 'business'"></a>
				<a href data-tooltip="{{event.creator.firstName}} {{event.creator.lastName}}" data-tooltip-placement="left" data-ng-href="/profile/{{event.creator.username}}" data-ng-show="event.creator.type == 'student'"></a>
			</div>
		</div>
		<div class="unit eleven-twelfths last-unit">
			<div class="box">
				<div class="event-header soft-half--sides">
					<div class="line">
						<div class="unit one-half">
							<i class="beta icon-circle nudge-half--right float-left" data-ng-show="event.privacy == 'public'" data-tooltip="Public" data-tooltip-placement="top"></i>
							<i class="beta icon-circle-blank nudge-half--right float-left" data-ng-show="event.privacy == 'inviteonly'" data-tooltip="Invite Only" data-tooltip-placement="top"></i>
							<h2 class="flush">
								<a data-ng-href="/event/{{event._id}}">
									{{ event.title }}
								</a>
							</h2>
						</div>
						<div class="unit one-half last-unit text-right">
							Posted by
							 <a data-ng-href="/profile/{{event.creator.username}}" data-ng-show="event.creator.type == 'student'">{{event.creator.firstName}} {{event.creator.lastName}}</a>
							 <a data-ng-href="/profile/{{event.creator.username}}" data-ng-show="event.creator.type == 'business'">{{event.creator.businessName}}</a>
						</div>
					</div>
				</div>
				<div class="islet">
					<div class="line">
						<div class="unit full-width last-unit">
							<span class="delta weight--bold">
								<span data-ng-show="event.locationName" class="nudge--right">
									<i class="icon-map-marker muted"></i> <span data-ng-bind="event.locationName"></span> 
								</span>
								<span data-ng-show="event.startDate" class="nudge--right">
									<i class="icon-calendar-empty muted"></i> <span>{{ event.startDate | readableDate }}</span>
								</span>
								<span data-ng-show="event.startTime">
									<i class="icon-time muted"></i> <span data-ng-bind="event.startTime"></span>
								</span>
							</span>
						</div>
					</div>
					<hr />
					<p class="pre-wrap soft-half--ends" data-ng-bind-html="event.description | parseUrl"></p>
				</div>
				<div class="event-footer table full-width soft-quarter--ends">
					<div class="tr">
						<div class="td three-fourths">
							<ul class="tags">
								<li data-ng-repeat="tag in event.tags" data-ng-bind="tag"></li>
							</ul>
						</div>
						<div class="td one-fourth text-right soft-half--right vertical-align-middle">
							<div class="action-buttons nudge-half--right">
								<a class="first" data-ng-class="{green: isAttending(event)}" href data-ng-click="openAttending(event)" data-tooltip="People Attending"><span class="gamma" data-ng-class="{green: isAttending(event)}">{{ event.attending.length }}</span></a>
								<a href data-ng-click="rsvpToEvent(event._id)" data-ng-hide="isAttending(event)"><i class="icon-thumbs-up"></i> RSVP</a>
								<a href data-ng-click="unRsvpToEvent(event._id)" data-ng-show="isAttending(event)"><i class="icon-thumbs-up-alt"></i> Un-RSVP</a>
							</div>
							<div class="action-buttons green">
								<a href data-ng-href="/event/{{event._id}}">Details <i class="icon-chevron-right epsilon"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- event end -->
	<a href data-ng-click="loadMore()" class="btn full-width text-center" data-ng-show="moreToLoad && !loadingMore && !loading">Load More</a>
	<a href class="btn full-width text-center" data-ng-show="loadingMore && !loading">Loading more...</a>
	<div class="text-center" data-ng-hide="events.length">
		<h1 class="flush blue" data-ng-show="profile.type == 'student' && profile._id !== user._id"><span data-ng-bind="profile.firstName"></span> <span data-ng-bind="profile.lastName"></span> has not posted any events!</h1>
		<h1 class="flush blue" data-ng-show="profile.type == 'business' && profile._id !== user._id"><span data-ng-bind="profile.businessName"></span> has not posted any events!</h1>
		<div data-ng-show="profile._id == user._id">
			<h1 class="flush blue">You haven't posted any events!</h1>
			<a href="/post" class="btn nudge--top">Create Event</a>
		</div>
	</div>
</div>

<script type="text/ng-template" id="attendingModal.html">
    <div class="modal-header">
        <h2 class="flush">Attending</h2>
    </div>
    <div class="modal-body">
        <div data-ng-repeat="attendingUser in items" class="user-img-modal nudge-half--right" data-ng-style="{'background-image': 'url(' + attendingUser.pictureUrl + ')'}">
			<a href data-ng-href="profile/{{attendingUser.username}}" data-ng-click="clickLink()" data-ng-show="attendingUser.type == 'student'" data-tooltip="{{attendingUser.firstName}} {{attendingUser.lastName}}" data-tooltip-placement="right"></a>
			<a href data-ng-href="profile/{{attendingUser.username}}" data-ng-click="clickLink()" data-ng-show="attendingUser.type == 'business'" data-tooltip="{{attendingUser.businessName}}" data-tooltip-placement="right"></a>
		</div>
		<div data-ng-hide="items.length">
			<h2 class="flush text-center">No one has RSVPd to this event yet!</h2>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="locationModal.html">
    <div class="modal-header">
        <h2 class="flush">Location</h2>
    </div>
    <div class="modal-body">
        <div data-ui-map="locationMap" data-ui-options="mapOptions" data-ui-event="{'map-tilesloaded': 'placeMarker(locationMap)'}" class="map nudge--ends"></div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="ok()">Close</button>
    </div>
</script>