<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Register for Campuslively: Club/Group</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div class="line" ng-hide="emailSent">
		<div class="unit six-tenths">
			<form name="registerForm" ng-submit="register()">
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="username">Username <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="text" id="username" name="username" ng-model="user.username" class="full-width" placeholder="Account username" ng-pattern="/^[a-zA-Z0-9.-]*$/" ng-blur="checkUsername()" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="email">Email <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="email" id="email" name="email" ng-model="user.email" class="full-width" placeholder="Your email address" ng-blur="checkEmail()" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="groupName">Name <span class="red">*</span></label>
					</div>
					<div class="unit full-width last-unit">
						<input type="text" id="groupName" name="groupName" ng-model="user.groupName" class="full-width" placeholder="Your club or group name" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="groupDescription">Description</label>
					</div>
					<div class="unit full-width last-unit">
						<textarea id="groupDescription" name="groupDescription" ng-model="user.groupDescription" class="full-width medium" placeholder="Description of your club or group"></textarea>
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="school">School <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<select class="full-width" ui-select2 ng-model="user.school" placeholder="Select your school" required>
						    <option value=""></option>
						    <option ng-repeat="school in schools" value="{{school._id}}">{{ school.name }}</option>
						</select>
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="password">Password <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="password" id="password" name="password" ng-model="user.password" class="full-width" placeholder="Your password" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="password">Confirm <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="password" id="confirmPassword" ng-model="confirmPassword" name="confirmPassword" password-verify="user.password" class="full-width" placeholder="Confirm your password" required />
					</div>
				</div>
				<div class="line">
					<div class="unit full-width last-unit">
						<span class="red weight--bold block nudge-half--bottom" ng-show="registerForm.username.$error.pattern">
							Your username can only contain letters, numbers, periods, and dashes.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="registerForm.confirmPassword.$error.passwordVerify">
							Passwords do not match.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="usernameTaken">
							That username is already taken.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="emailTaken">
							That email address is already in use.
						</span>
						<span class="block red weight--bold nudge-half--bottom" ng-show="registerError" ng-bind="registerError"></span>
					</div>
				</div>
				<div class="line">
					<div class="unit full-width text-right last-unit">
						<input type="submit" class="btn" value="Register" ng-disabled="registerForm.$invalid || usernameTaken" />
					</div>
				</div>
			</form>
		</div>
		<div class="unit four-tenths last-unit soft--left">
			<h2 class="flush nudge--bottom blue">A new way to connect with your student audience.</h2>
			<div class="table full-width">
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h1 class="huge flush green"><i class="fa fa-thumbs-up"></i></h1>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3 class="flush">Automatically connect to your registered Facebook followers</h3>
					</div>
				</div>
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h1 class="huge flush green"><i class="fa fa-book"></i></h1>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3>Your events become visible to all students at your school</h3>
					</div>
				</div>
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h1 class="huge flush green"><i class="fa fa-map-marker"></i></h1>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3>Your events also become visible to all users near the venue</h3>
					</div>
				</div>
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h1 class="huge flush green"><i class="fa fa-bullhorn"></i></h1>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3>Interact directly with your target audience</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="emailSent">
		<h1 class="green flush">Thank you for registering!</h1>
		<p class="gamma nudge--ends">An email has been sent to the email address you provided. There will be a link in the email that you must click to activate your account before you will be able to log in.</p>
		<a href="/" class="btn">Front Page</a>
	</div>
</div>