<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Register for Campuslively: Student</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div class="line" ng-hide="emailSent">
		<div class="unit six-tenths">
			<form name="registerForm" ng-submit="register(user)">
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="username">Username <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="text" id="username" name="username" ng-model="user.username" class="full-width" placeholder="Account username" ng-pattern="/^[a-zA-Z0-9.-]*$/" ng-blur="checkUsername()" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="email">Email <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="email" id="email" name="email" ng-model="user.email" ng-pattern="/([a-z0-9][-a-z0-9_\+\.]*[a-z0-9])@([a-z0-9][-a-z0-9\.]*[a-z0-9]\.(edu)|([0-9]{1,3}\.{3}[0-9]{1,3}))/" class="full-width" placeholder="Your .edu email address" ng-blur="checkEmail()" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="firstName">First Name <span class="red">*</span></label>
					</div>
					<div class="unit three-tenths">
						<input type="text" id="firstName" ng-model="user.firstName" class="full-width" placeholder="First Name" required />
					</div>
					<div class="unit two-tenths label-container text-right soft-quarter--right">
						<label for="lastName">Last Name <span class="red">*</span></label>
					</div>
					<div class="unit three-tenths last-unit">
						<input type="text" id="lastName" ng-model="user.lastName" class="full-width" placeholder="Last Name" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="gender">Gender <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<div class="table full-width">
							<div class="tr">
								<div class="td vertical-align-middle three-percent">
									<input type="radio" name="gender" ng-model="user.gender" value="male" />
								</div>
								<div class="td vertical-align-middle one-twelfth">
									<span class="soft-half--left">Male</span>
								</div>
								<div class="td vertical-align-middle three-percent soft--left">
									<input type="radio" name="gender" ng-model="user.gender" value="female" /> 
								</div>
								<div class="td vertical-align-middle">
									<span class="soft-half--left">Female</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="school">School <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<select class="full-width" ui-select2 ng-model="user.school" placeholder="Select your school" required>
						    <option value=""></option>
						    <option ng-repeat="school in schools" value="{{school._id}}">{{ school.name }}</option>
						</select>
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="password">Password <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="password" id="password" ng-model="user.password" name="password" class="full-width" placeholder="Your password" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="password">Confirm <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="password" id="confirmPassword" ng-model="confirmPassword" name="confirmPassword" password-verify="user.password" class="full-width" placeholder="Confirm your password" required />
					</div>
				</div>
				<div class="line">
					<div class="unit full-width last-unit">
						<span class="red weight--bold block nudge-half--bottom" ng-show="registerForm.username.$error.pattern">
							Username can only contain letters, numbers, periods, and dashes.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="registerForm.email.$error.pattern && !registerForm.username.$error.pattern">
							Your email address must end in .edu.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="usernameTaken">
							That username is already taken.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="emailTaken">
							That email address is already in use.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="registerForm.confirmPassword.$error.passwordVerify">
							Passwords do not match.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="registerError" ng-bind="registerError"></span>
					</div>
				</div>
				<div class="line">
					<div class="unit three-percent label-container soft--right">
						<input type="checkbox" ng-model="acceptTerms" />
					</div>
					<div class="unit ninety-seven-percent last-unit label-container soft--left">
						<span><span class="red">*</span>I agree to the <a href ng-click="openTerms()">Terms and Conditions</a>.</span>
					</div>
				</div>
				<div class="line">
					<div class="unit two-tenths text-right last-unit">
						<input type="submit" class="btn" value="Register" ng-disabled="registerForm.$invalid || usernameTaken || emailTaken || !acceptTerms" />
					</div>
				</div>
			</form>
		</div>
		<div class="unit four-tenths last-unit soft--left">
			<h2 class="flush nudge--bottom blue">A new way to see what's going on around your school.</h2>
			<div class="table full-width">
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h1 class="huge flush green"><i class="fa fa-plus"></i></h1>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3>Easily post your own events</h3>
					</div>
				</div>
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h1 class="huge flush green"><i class="fa fa-book"></i></h1>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3 class="flush">View all events posted for your school</h3>
					</div>
				</div>
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h1 class="huge flush green"><i class="fa fa-map-marker"></i></h1>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3>Even see all events around you</h3>
					</div>
				</div>
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h3 class="flush green"><i class="fa fa-clock-o"></i> <i class="fa fa-calendar-o"></i></h3>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3>View them as a live feed, or further into the future</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="emailSent">
		<h1 class="green flush">Thank you for registering!</h1>
		<p class="gamma nudge--ends">An email has been sent to the .edu address you provided. There will be a link in the email that you must click to activate your account before you will be able to log in.</p>
		<a href="/" class="btn">Front Page</a>
	</div>
</div>

<script type="text/ng-template" id="termsModal.html">
    <div class="modal-header clearfix">
        <h3 class="flush float-left weight--bold">Terms and Conditions</h3>
        <i class="fa fa-times close" ng-click="ok()"></i>
    </div>
    <div class="modal-body">
        <p class="nudge-half--bottom">This Agreement was last modified on February 26, 2014.</p>

		<p>Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using www.campuslively.com ("the Site") operated by Campuslively ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at www.campuslively.com.</p>
		<p>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms and Conditions. Capitalized terms are defined in this Agreement.</p>

		<h3 class="weight--bold nudge-half--ends">Intellectual Property</h3>
		<p>The Site and its original content, features and functionality are owned by Campuslively and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p>

		<h3 class="weight--bold nudge-half--ends">Termination</h3>
		<p>We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

		<h3 class="weight--bold nudge-half--ends">Links to Other Sites</h3>
		<p>Our Site may contain links to third-party sites that are not owned or controlled by Campuslively.</p>
		<p>Campuslively has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</p>

		<h3 class="weight--bold nudge-half--ends">Governing Law</h3>
		<p>This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Massachusetts, United States, without giving effect to any principles of conflicts of law.</p>

		<h3 class="weight--bold nudge-half--ends">Changes to This Agreement</h3>
		<p>We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms and Conditions.</p>
		<p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</p>

		<p class="nudge-half--top">If you have any questions about this Agreement, please <a href="/contact" ng-click="clickLink()">contact us.</a></p>
    </div>
</script>