<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush highlight">Register for Campuslively</h1>
			</div>
		</div>
	</div>
</div>
<div class="table full-width full-height__header">
	<div class="td full-height full-width vertical-align-middle text-center">
		<h2>What would you like to register as?</h2>
		<div class="box inline-block text-left">
			<div class="tr">
				<a href="/register/student" class="option">
					<h1 class="flush"><i class="icon-user"></i></h1>
					Student
				</a>
				<a href="/register/business" class="option">
					<h1 class="flush"><i class="icon-briefcase"></i></h1>
					Business
				</a>
			</div>
		</div>
	</div>
</div>