<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Register for Campuslively: Student</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div class="line" ng-hide="emailSent">
		<div class="unit six-tenths">
			<form name="registerForm" ng-submit="register()">
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="username">Username <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="text" id="username" name="username" ng-model="user.username" class="full-width" placeholder="Account username" ng-pattern="/^[a-zA-Z0-9.-]*$/" ng-blur="checkUsername()" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="email">Email <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="email" id="email" name="email" ng-model="user.email" ng-pattern="/([a-z0-9][-a-z0-9_\+\.]*[a-z0-9])@([a-z0-9][-a-z0-9\.]*[a-z0-9]\.(edu)|([0-9]{1,3}\.{3}[0-9]{1,3}))/" class="full-width" placeholder="Your .edu email address" ng-blur="checkEmail()" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="firstName">First Name <span class="red">*</span></label>
					</div>
					<div class="unit three-tenths">
						<input type="text" id="firstName" ng-model="user.firstName" class="full-width" placeholder="First Name" required />
					</div>
					<div class="unit two-tenths label-container text-right soft-quarter--right">
						<label for="lastName">Last Name <span class="red">*</span></label>
					</div>
					<div class="unit three-tenths last-unit">
						<input type="text" id="lastName" ng-model="user.lastName" class="full-width" placeholder="Last Name" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="gender">Gender <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<div class="table full-width">
							<div class="tr">
								<div class="td vertical-align-middle three-percent">
									<input type="radio" name="gender" ng-model="user.gender" value="male" />
								</div>
								<div class="td vertical-align-middle one-twelfth">
									<span class="soft-half--left">Male</span>
								</div>
								<div class="td vertical-align-middle three-percent soft--left">
									<input type="radio" name="gender" ng-model="user.gender" value="female" /> 
								</div>
								<div class="td vertical-align-middle">
									<span class="soft-half--left">Female</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="school">School <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<select class="full-width" ui-select2 ng-model="user.school" placeholder="Select your school" required>
						    <option value=""></option>
						    <option ng-repeat="school in schools" value="{{school._id}}">{{ school.name }}</option>
						</select>
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="password">Password <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="password" id="password" ng-model="user.password" name="password" class="full-width" placeholder="Your password" required />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-tenths label-container">
						<label for="password">Confirm <span class="red">*</span></label>
					</div>
					<div class="unit eight-tenths last-unit">
						<input type="password" id="confirmPassword" ng-model="confirmPassword" name="confirmPassword" password-verify="user.password" class="full-width" placeholder="Confirm your password" required />
					</div>
				</div>
				<div class="line">
					<div class="unit full-width last-unit">
						<span class="red weight--bold block nudge-half--bottom" ng-show="registerForm.username.$error.pattern">
							Username can only contain letters, numbers, periods, and dashes.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="registerForm.email.$error.pattern && !registerForm.username.$error.pattern">
							Your email address must end in .edu.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="usernameTaken">
							That username is already taken.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="emailTaken">
							That email address is already in use.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="registerForm.confirmPassword.$error.passwordVerify">
							Passwords do not match.
						</span>
						<span class="red weight--bold block nudge-half--bottom" ng-show="registerError" ng-bind="registerError"></span>
					</div>
				</div>
				<div class="line">
					<div class="unit two-tenths text-right last-unit">
						<input type="submit" class="btn" value="Register" ng-disabled="registerForm.$invalid || usernameTaken || emailTaken" />
					</div>
				</div>
			</form>
		</div>
		<div class="unit four-tenths last-unit soft--left">
			<h2 class="flush nudge--bottom blue">A new way to see what's going on around your school.</h2>
			<div class="table full-width">
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h1 class="huge flush green"><i class="fa fa-plus"></i></h1>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3>Easily post your own events</h3>
					</div>
				</div>
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h1 class="huge flush green"><i class="fa fa-book"></i></h1>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3 class="flush">View all events posted for your school</h3>
					</div>
				</div>
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h1 class="huge flush green"><i class="fa fa-map-marker"></i></h1>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3>Even see all events around you</h3>
					</div>
				</div>
				<div class="tr">
					<div class="td one-tenth vertical-align-middle text-center">
						<h3 class="flush green"><i class="fa fa-clock-o"></i> <i class="fa fa-calendar-o"></i></h3>
					</div>
					<div class="td nine-tenths vertical-align-middle soft-half--left">
						<h3>View them as a live feed, or further into the future</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="emailSent">
		<h1 class="green flush">Thank you for registering!</h1>
		<p class="gamma nudge--ends">An email has been sent to the .edu address you provided. There will be a link in the email that you must click to activate your account before you will be able to log in.</p>
		<a href="/" class="btn">Front Page</a>
	</div>
</div>