<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Reset Your Password</h1>
			</div>
		</div>
	</div>
</div>
<div class="table full-width full-height__header" data-ng-hide="passwordChanged">
	<div class="td full-height full-width vertical-align-middle text-center">
		<div class="box island inline-block text-left top-highlight" style="width:500px;">
			<form name="passwordForm" data-ng-submit="changePassword()">
				<label for="password" class="muted">New Password</label>
				<div class="input-prepend full nudge--bottom">
					<div class="icon">
						<i class="icon-lock"></i>
					</div>
					<input type="password" id="password" data-ng-model="password" placeholder="your new password" required />
				</div>
				<span class="block nudge--ends red weight--bold" data-ng-show="resetError" data-ng-bind="resetError"></span>
				<input type="submit" value="Change Password" class="btn full-width" data-ng-disabled="passwordForm.$invalid" />
			</form>
		</div>
	</div>
</div>
<div class="container soft-half--ends" data-ng-show="passwordChanged">
	<h1 class="green flush">Password Reset!</h1>
	<p class="gamma nudge--ends">Your password has been successfully reset.</p>
	<a href="/login" class="btn">Log In</a>
</div>