<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Account Settings</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div class="line">
		<div class="unit three-fourths">
			<form name="settingsForm" ng-submit="saveChanges()" class="nudge-half--bottom">
				<div class="text-center nudge-half--bottom full-width">
					<div class="user-img-settings center-block" ng-show="newUserImage" ng-style="{'background-image': 'url(' + newUserImage.url + ')'}">
						<a ng-href="/profile/{{user.username}}"></a>
					</div>
					<div class="user-img-settings center-block" ng-hide="newUserImage" ng-style="{'background-image': 'url(' + user.pictureUrl + ')'}">
						<a ng-href="/profile/{{user.username}}"></a>
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit label-container two-twelfths">
						<label for="userImage">Picture</label>
					</div>
					<div class="unit seven-twelfths">
						<input class="full-width" id="newUserImage" name="newUserImage" type="file" accept="image/*" data-image="newUserImage" />
					</div>
					<div class="unit three-twelfths last-unit soft-half--left label-container">
						<a href ng-click="useFacebookImage()" ng-show="user.facebook.id && !usingFacebookImage() && user.type == 'student'" class="btn fb full-width"><i class="fa fa-facebook"></i> Use Facebook</a>
						<select class="full-width" ng-model="picturePage" ng-show="user.facebook.managedPages.length && user.type =='group'" ng-change="usePageForImage()">
						    <option value="">Use a Facebook page</option>
						    <option ng-repeat="page in user.facebook.managedPages" value="{{page.id}}">{{ page.name }}</option>
						</select>
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit label-container two-twelfths">
						<label for="school">School</label>
					</div>
					<div class="unit ten-twelfths last-unit">
						<select class="full-width" data-ui-select2="schoolSelectOptions" ng-model="userSchool" data-placeholder="Select your school">
						    <option value=""></option>
						    <option ng-repeat="school in schools" value="{{school._id}}">{{ school.name }}</option>
						</select>
					</div>
				</div>
				<div class="line nudge-half--bottom" ng-show="user.type == 'student'">
					<div class="unit label-container two-twelfths">
						<label for="userFirstName">First</label>
					</div>
					<div class="unit four-twelfths">
						<input class="full-width" id="userFirstName" name="userFirstName" type="text" ng-model="userFirstName" placeholder="first name" />
					</div>
					<div class="unit label-container two-twelfths soft-half--right text-right">
						<label for="userLastName">Last</label>
					</div>
					<div class="unit four-twelfths last-unit">
						<input class="full-width" id="userLastName" name="userLastName" type="text" ng-model="userLastName" placeholder="last name" />
					</div>
				</div>
				<div class="line nudge-half--bottom" ng-show="user.type == 'group'">
					<div class="unit label-container two-twelfths">
						<label for="userGroupName">Name</label>
					</div>
					<div class="unit ten-twelfths last-unit">
						<input type="text" class="full-width" id="userGroupName" placeholder="Your club or group name" ng-model="userGroupName" />
					</div>
				</div>
				<div class="line nudge-half--bottom" ng-show="user.type == 'group'" >
					<div class="unit label-container two-twelfths">
						<label for="userGroupDescription">Description</label>
					</div>
					<div class="unit ten-twelfths last-unit">
						<textarea id="userGroupDescription" name="userGroupDescription" ng-model="userGroupDescription" class="full-width medium" placeholder="Description of your club or group"></textarea>
					</div>
				</div>
				<div class="line nudge-half--bottom" ng-show="user.type == 'group'" >
					<div class="unit label-container two-twelfths">
						<label for="locationAddress">Address</label>
					</div>
					<div class="unit ten-twelfths last-unit">
						<input type="text" class="full-width" id="locationAddress" name="locationAddress" ng-model="locationAddress" placeholder="Address of your location" ng-blur="checkAddress()" />
					</div>
				</div>
				<div class="line nudge-half--bottom" ng-show="user.type == 'group'" >
					<div class="unit label-container two-twelfths">
						<label for="websiteAddress">Website</label>
					</div>
					<div class="unit ten-twelfths last-unit">
						<input type="text" class="full-width" id="websiteAddress" name="websiteAddress" ng-model="websiteAddress" placeholder="Your website address" />
					</div>
				</div>
				<div class="line nudge-half--bottom" ng-show="user.facebook.managedPages.length && user.type == 'group'" >
					<div class="unit label-container two-twelfths">
						<label for="userFacebookLink">Facebook</label>
					</div>
					<div class="unit ten-twelfths last-unit label-container">
						<select class="full-width" id="userFacebookLink" name="userFacebookLink" ng-model="userFacebookLink">
						    <option value="">Choose a Facebook page</option>
						    <option ng-repeat="page in user.facebook.managedPages" value="{{page.id}}" ng-selected="page.id == userFacebookLink">{{ page.name }}</option>
						</select>
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit label-container two-twelfths">
						<label for="userTwitterLink">Twitter</label>
					</div>
					<div class="unit ten-twelfths last-unit">
						<input type="text" class="full-width" id="userTwitterLink" name="userTwitterLink" ng-model="userTwitterLink" placeholder="Your Twitter handle" />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit label-container two-twelfths">
						<label for="userEmail">Email</label>
					</div>
					<div class="unit ten-twelfths last-unit">
						<input type="text" class="full-width" name="emailGroup" id="userEmail" placeholder="email address" ng-model="userEmailGroup" ng-show="user.type == 'group'" ng-blur="checkEmail()" />
						<input type="text" class="full-width" name="emailStudent" id="userEmail" placeholder="email address" ng-model="userEmailStudent" ng-pattern="/([a-z0-9][-a-z0-9_\+\.]*[a-z0-9])@([a-z0-9][-a-z0-9\.]*[a-z0-9]\.(edu)|([0-9]{1,3}\.{3}[0-9]{1,3}))/" ng-show="user.type == 'student'" ng-blur="checkEmail()" />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit label-container two-twelfths">
						<label for="userPassword">Password</label>
					</div>
					<div class="unit ten-twelfths last-unit">
						<input type="password" class="full-width" id="userPassword" placeholder="New password" ng-model="userPassword" />
					</div>
				</div>
				<div class="line nudge-half--bottom">
					<div class="unit two-twelfths label-container">
						<label for="password">Confirm</label>
					</div>
					<div class="unit ten-twelfths last-unit">
						<input type="password" id="confirmPassword" ng-model="confirmPassword" name="confirmPassword" data-password-verify="userPassword" class="full-width" placeholder="Confirm new password" />
					</div>
				</div>
				<div class="line">
					<div class="unit full-width last-unit text-right">
						<span class="red weight--bold nudge--right" ng-show="saveError" ng-bind="saveError"></span>
						<span class="red weight--bold nudge--right" ng-show="settingsForm.emailStudent.$error.pattern && settingsForm.emailStudent.length > 0">
							Email address must end in .edu.
						</span>
						<span class="red weight--bold nudge--right" ng-show="emailTaken">
							That email address is already in use.
						</span>
						<span class="blue weight--bold nudge--right" ng-show="changesSaved">Changes saved!</span>
						<span class="red weight--bold nudge--right" ng-show="settingsForm.confirmPassword.$error.passwordVerify">
							Passwords do not match.
						</span>
						<input type="submit" class="btn" value="Save Changes" ng-disabled="settingsForm.$invalid || emailTaken" />
					</div>
				</div>
			</form>

			<hr ng-show="user.subscriptions" />

			<h2 class="flush soft-half--bottom" ng-show="user.subscriptions">Manage Subscriptions</h2>
			<div class="inline-block" ng-repeat="subscription in user.subscriptions">
				<div class="user-img-subscriptions" ng-style="{'background-image': 'url(' + subscription.pictureUrl + ')'}">
					<a ng-href="/profile/{{subscription.username}}" data-tooltip="{{subscription.displayName}}" data-tooltip-placement="bottom"></a>
					<a href class="remove" data-tooltip="Unsubscribe" data-tooltip-placement="top" ng-click="removeSubscription(subscription._id)"><i class="fa fa-times"></i></a>
				</div>
			</div>

			<hr />

			<a class="btn--red float-right nudge-half--top" href ng-click="openDelete()">Delete Account</a>
		</div>
		<div class="unit one-fourth soft--left last-unit">
			<a href ng-click="fbLogin()" ng-hide="user.facebook.id" class="btn fb full-width nudge-half--bottom"><i class="fa fa-facebook"></i> Add Facebook</a>
			<a href ng-click="fbLogout()" ng-show="user.facebook.id" class="btn fb full-width nudge-half--bottom"><i class="fa fa-facebook"></i> Remove Facebook</a>
			<div class="line nudge-half--bottom" ng-show="user.facebook.id && user.type == 'student'">
				<div class="one-twelfth unit">
					<input type="checkbox" ng-model="user.facebook.autoPost" ng-change="changeFbAutoPost()" id="autoPost" name="autoPost" />
				</div>
				<div class="eleven-twelfths last-unit label-container soft-half--left">
					<label for="autoPost">Autopost Activity</label> 
					<i class="fa fa-question-circle nudge-half--left pointer" ng-click="openExplanation()"></i>
				</div>
			</div>
			<a href ng-click="googleLogin()" ng-hide="user.google.id" class="btn google full-width"><i class="fa fa-google-plus"></i> Add Google</a>
			<a href ng-click="googleLogout()" ng-show="user.google.id" class="btn google full-width"><i class="fa fa-google-plus"></i> Remove Google</a>
		</div>
	</div>
</div>

<script type="text/ng-template" id="explanationModal.html">
    <div class="modal-header">
        <h2 class="flush">Autopost Activity</h2>
    </div>
    <div class="modal-body">
    	<h3 class="caps flush--top nudge-half--bottom">What does this do?</h3>
    	<p>Enabling this option will automatically post items to Facebook when you:</p>
    	<ol>
    		<li class="nudge-half--bottom">Create a new public event</li>
    		<li>RSVP to an existing public event</li>
    	</ol>
    	<p>Disabling this option means nothing will be posted to Facebook without you explicitly doing so.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="ok()">Ok</button>
    </div>
</script>
<script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
        <h2 class="flush">Deleting Your Account</h2>
    </div>
    <div class="modal-body">
    	<h3 class="caps flush--top nudge-half--bottom">Are you sure?</h3>
    	<p>Once you click the button below, your account will be deleted fully and permanently. There will be no way to restore or retrieve your account. However, events and comments you have posted in the past will not be deleted.</p>
    	<p class="nudge-half--top">If you ever wish to use Campuslively again, you will have to create a new account.</p>
    </div>
    <div class="modal-footer">
    	<button class="btn" ng-click="cancel()">Cancel</button>
        <button class="btn--red" ng-click="deleteUser()">Delete Account</button>
    </div>
</script>