<div class="white-top">
	<div class="container full-height">
		<div class="table full-height">
			<div class="td vertical-align-middle">
				<h1 class="flush blue">Account Settings</h1>
			</div>
		</div>
	</div>
</div>
<div class="container soft-half--ends">
	<div class="line">
		<div class="unit three-fourths">
			<form name="settingsForm" data-ng-submit="saveChanges()" class="nudge-half--bottom">
				<div class="table full-width">
					<div class="tr">
						<div class="td one-tenth soft-half--bottom">
							<label for="email" class="caps weight--bold">Email</label>
						</div>
						<div class="td nine-tenths soft-half--bottom">
							<input type="text" class="full-width" id="email" placeholder="jacob.marsh@maine.edu" />
						</div>
					</div>
					<div class="tr">
						<div class="td one-tenth soft-half--bottom">
							<label for="school" class="caps weight--bold">School</label>
						</div>
						<div class="td nine-tenths soft-half--bottom">
							<input type="text" class="full-width" id="school" placeholder="University of Maine" />
						</div>
					</div>
					<div class="tr">
						<div class="td one-tenth soft-half--bottom">
							<label for="school" class="caps weight--bold">Picture</label>
						</div>
						<div class="td nine-tenths soft-half--bottom">
							<input type="file" class="full-width" id="picture" placeholder="Profile picture" />
						</div>
					</div>
					<div class="tr">
						<div class="td one-tenth"></div>
						<div class="td nine-tenths text-right">
							<span class="blue weight--bold nudge--right" data-ng-show="changesSaved">Changes saved!</span>
							<input type="submit" class="btn" value="Save Changes" />
						</div>
					</div>
				</div>
			</form>
			<h2 class="flush soft-half--bottom">Manage Subscriptions</h2>
			<div class="user-img-subscriptions" style="background-image: url('https://sphotos-a.xx.fbcdn.net/hphotos-prn1/529791_10151562378398173_554404291_n.jpg')">
				<a href="/profile/jakemmarsh" data-tooltip="Jake Marsh" data-tooltip-placement="bottom" data-ng-href="/profile/jakemmarsh" class="ng-scope"></a>
				<a href class="remove" data-tooltip="Unsubscribe" data-tooltip-placement="top" data-ng-click="removeSubscription(1)"><i class="icon-remove"></i></a>
			</div>
			<div class="user-img-subscriptions" style="background-image: url('https://sphotos-a.xx.fbcdn.net/hphotos-prn1/529791_10151562378398173_554404291_n.jpg')">
				<a href="/profile/jakemmarsh" data-tooltip="Jake Marsh" data-tooltip-placement="bottom" data-ng-href="/profile/jakemmarsh" class="ng-scope"></a>
				<a href class="remove" data-tooltip="Unsubscribe" data-tooltip-placement="top" data-ng-click="removeSubscription(1)"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="unit one-fourth soft--left last-unit">
			<a href data-ng-click="open('twitter')" class="btn twitter nudge--bottom full-width"><i class="icon-twitter"></i> Add Twitter</a>
			<a href data-ng-click="open('facebook')" class="btn fb full-width"><i class="icon-facebook"></i> Add Facebook</a>
		</div>
	</div>
</div>

<script type="text/ng-template" id="twitterModal.html">
    <div class="modal-header">
        <h3>Add Twitter Account</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="ok()">OK</button>
        <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="facebookModal.html">
    <div class="modal-header">
        <h3>Add Facebook Account</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="ok()">OK</button>
        <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
    </div>
</script>