.box {
	background: $white;
	border: 1px solid $border-grey;
	color: $dark-grey;
	@include corners();
	position: relative;
}

	.box .grey-header, .box .event-header {
		position: relative;
		width: 100%;
		@include corners(2px, 2px, 0, 0);
		border-bottom: 1px solid $border-grey;
	}

		.box .event-header i {
			color: $border-grey;
		}

			.box .event-header h3 a {
				color: $primary;
			}

				.box .event-header h3 a:hover, .box .event-header h3 a:focus, .box .event-header h3 a:active {
					color: $primary;
				}

		.box .grey-header {
			background: $light-grey;
		}

	.box .event-footer {
		background: $light-grey;
		@include corners(0px, 0px, 2px, 2px);
		border-top: 1px solid $border-grey;
		color: $dark-grey;
	}

	.box .block-link {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
		top: 0;
		left: 0;
	}

	.box .event-option-buttons {
		position: absolute;
		top: 10px;
		right: 10px;
	}

.box.comment > .delete-comment-button {
	position: absolute;
	top: 10px;
	right: 10px;
	@extend .muted;
	display: none;
}

	.box.comment > .delete-comment-button:hover, .box.comment > .delete-comment-button:active, .box.comment > .delete-comment-button:focus {
		color: $red;
		cursor: pointer;
	}

.box.comment:hover > .delete-comment-button {
	display: block;
}