.btn {
	@include corners();
	@include gradient($secondary);
	color: $white;
	display: inline-block;
	height: 35px;
	line-height: 25px;
	font-size: 0.9em;
	font-weight: 500;
	padding: 4px 10px;
	cursor: pointer;
	border: 1px solid $secondary;
}

	.btn:hover, .btn:active, .btn:focus {
		color: $white;
		@include gradient($secondary, darken($secondary, 3));
		border: 1px solid darken($secondary, 5);
		text-decoration: none;
	}

	.btn:active, .btn--blue:active, .btn--red:active {
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.btn--muted {
		@extend .btn;
		@include gradient($border-grey);
		color: lighten($dark-grey, 10);
		border: 1px solid $border-grey;
	}

		.btn--muted:hover, .btn--muted:active, .btn--muted:focus {
			color: lighten($dark-grey, 10);
			@include gradient($border-grey, darken($border-grey, 5));
			border: 1px solid lighten($dark-grey, 70);
		}

	.btn--blue {
		@extend .btn;
		@include gradient($primary);
		border: 1px solid $primary;
	}

		.btn--blue:hover, .btn--blue:active, .btn--blue:focus {
			color: $white;
			@include gradient($primary, darken($primary, 5));
			border: 1px solid darken($primary, 7);
		}

	.btn--red {
		@extend .btn;
		@include gradient($red);
		border: 1px solid $red;
	}

		.btn--red:hover, .btn--red:active, .btn--red:focus {
			color: $white;
			@include gradient($red, darken($red, 5));
			border: 1px solid darken($red, 7);
		}		

	.btn:disabled, .btn[disabled="disabled"] {
		background: darken($border-grey, 4);
		border: 1px solid darken($border-grey, 4);
		box-shadow: none;
	}

		.btn:disabled:hover, .btn:disabled:active, .btn:disabled:focus,
		.btn[disabled="disabled"]:hover, .btn[disabled="disabled"]:active, .btn[disabled="disabled"]:focus {
			background: darken($border-grey, 4);
			border: 1px solid darken($border-grey, 4);
		}

	.btn.twitter {
		@include gradient($twitter-blue);
		border: 1px solid $twitter-blue;
	}

		.btn.twitter:hover, .btn.twitter:active, .btn.twitter:focus {
			color: $white;
			@include gradient($twitter-blue, darken($twitter-blue, 5));
			border: 1px solid darken($twitter-blue, 7);
		}

	.btn.fb {
		@include gradient($fb-blue);
		border: 1px solid $fb-blue;
	}

		.btn.fb:hover, .btn.fb:active, .btn.fb:focus {
			color: $white;
			@include gradient($fb-blue, darken($fb-blue, 5));
			border: 1px solid darken($fb-blue, 7);
		}

	.btn.google {
		@include gradient($google-red);
		border: 1px solid $google-red;
	}

		.btn.google:hover, .btn.google:active, .btn.google:focus {
			color: $white;
			@include gradient($google-red, darken($google-red, 5));
			border: 1px solid darken($google-red, 7);
		}

	.btn.datepicker {
		background: $white;
		padding: 2px 5px;
		color: $dark-grey;
		border: 1px solid $white;
		box-shadow: none;
	}

		.btn.datepicker:hover, .btn.datepicker:focus, .btn.datepicker:active {
			color: $white;
			@include gradient($secondary, darken($secondary, 5));
			border: 1px solid darken($secondary, 7);
		}

		.btn.datepicker:disabled {
			@extend .muted;
		}

			.btn.datepicker:disabled:hover, .btn.datepicker:disabled:focus, .btn.datepicker:disabled:active, .btn.datepicker:hover:disabled {
				background: $white;
				@extend .muted;
				padding: 2px 5px;
				border: 1px solid $white !important;
			}

		.btn.datepicker.muted:hover, .btn.datepicker.muted:focus, .btn.datepicker.muted:active {
			background: $white;
			border: 1px solid darken($border-grey, 4);
		}