@mixin circle-img($size) {
	box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: $size;
	width: $size;
	@include corners($size, $size, $size, $size);
	position: relative;
	border: $size/18 solid $white;
	-moz-box-shadow: 0px 0px 0px 1px $border-grey;
	-webkit-box-shadow: 0px 0px 0px 1px $border-grey;
	box-shadow: 0px 0px 0px 1px $border-grey;
}

.user-img-modal {
	@include circle-img(45px);
	display: inline-block;
}

	.user-img-modal .checkmark {
		background: $green;
		color: $white;
		height: 15px;
		width: 15px;
		@include corners(15px, 15px, 15px, 15px);
		position: absolute;
		bottom: 0;
		right: 0;
		text-align: center;
		font-size: 0.8em;
		line-height: 1.2em;
		display: none;
	}

		.user-img-modal.invitee .checkmark {
			display: block;
		}

.user-img-comment {
	@include circle-img(60px);
}

.user-img-going {
	@include circle-img(35px);
	display: inline-block;
}

.user-img-subcomment {
	@include circle-img(40px);
}

.user-img-event, .user-img-subscriptions {
	@include circle-img(70px);
}

	.user-img-subscriptions {
		display: inline-block;
		@extend .nudge-half--sides;
	}

	.user-img-subscriptions .remove {
		background: $dark-grey;
		color: $white;
		height: 15px;
		width: 15px;
		@include corners(15px, 15px, 15px, 15px);
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		font-size: 0.8em;
		line-height: 1.2em;
		display: none;
	}

	.user-img-subscriptions:hover .remove {
		display: block;
	}

	.user-img-comment a, .user-img-event a, .user-img-subcomment a, .user-img-going a, .user-img-subscriptions a, .user-img-modal a, .user-img-settings a {
		display: block;
		height: 100%;
		width: 100%;
	}

.user-img-profile {
	@include circle-img(85px);
}

.user-img-settings, .user-img-about {
	@include circle-img(120px);
}

.event-img {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	@include corners();
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.school-img {
	@include circle-img(100px);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}