.map {
	position: relative;
	display: block;
	width: 100%;
	height: 200px;
	background: #000;
	@include corners();
}

.gm-style-iw a {
	font-weight: bold !important;
}

img[src*="maps.gstatic.com/"], img[src*="maps.googleapis.com/"] {
	max-width: 0;
	display: none;
}