.sidebar {
	width: 50px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: $dark-grey;
	font-weight: 300;
	font-size: 1em;
	-webkit-box-shadow: inset -8px 0px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset -8px 0px 10px 0px rgba(0,0,0,0.1);
	box-shadow: inset -8px 0px 10px 0px rgba(0,0,0,0.1);
	-ms-transition: width 0.20s ease-in-out;
    -moz-transition: width 0.20s ease-in-out;
    -webkit-transition: width 0.20s ease-in-out;
    transition: width 0.20s ease-in-out;
    overflow: hidden;
}

	.sidebar ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		-webkit-padding-start: 0px;
		height: 100%;
		width: 150px;
		-webkit-box-shadow: inset -8px 0px 10px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: inset -8px 0px 10px 0px rgba(0,0,0,0.1);
		box-shadow: inset -8px 0px 10px 0px rgba(0,0,0,0.1);
	}

		.sidebar ul li {
			width: 100%;
			padding: 10px 0;
			margin: 0;
			background: $dark-grey;
			display: table;
			position: relative;
			-webkit-box-shadow: inset -8px 0px 10px 0px rgba(0,0,0,0.1);
			-moz-box-shadow: inset -8px 0px 10px 0px rgba(0,0,0,0.1);
			box-shadow: inset -8px 0px 10px 0px rgba(0,0,0,0.1);
			border-bottom: 1px solid lighten($dark-grey, 5);
		}

			.sidebar ul li:hover, .sidebar ul li:focus, .sidebar ul li:active {
				background: darken($dark-grey, 3);
			}

			.sidebar ul li:hover .link, .sidebar ul li:focus .link, .sidebar ul li:active .link {
				text-decoration: none;
			} 

			.sidebar ul li.active {
				background: $light-grey;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}

				.sidebar ul li.active .link i, .sidebar ul li.active .link span {
					color: $dark-grey;
				}

			.sidebar ul li.post {
				height: 100px;
				background: $secondary;
			}

				.sidebar ul li.post:hover, .sidebar ul li.post:active, .sidebar ul li.post:focus {
					background: darken($secondary, 5);
				}

				.sidebar ul li.post.active, .sidebar ul li.solo {
					height: 100px;
					background: $white;
					color: $secondary;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
				}

					.sidebar ul li.post.active .link i, .sidebar ul li.post.active .link span {
						color: $secondary;
					}

					.sidebar ul li.post.active .link, .sidebar ul li.solo .link {
						color: $secondary;
					}

						.sidebar ul li.solo .link i {
							top: 27px;
							color: $secondary;
						}

			.sidebar ul .bottom {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 150px;
			}

				.sidebar ul .bottom li:first-child {
					border-top: 1px solid lighten($dark-grey, 5);
				}

				.sidebar ul .bottom li:last-child {
					border-bottom: none;
				}

			.sidebar ul li .link {
				display: table-cell;
				width: 100%;
				height: 100%;
				position: relative;
				padding-left: 50px;
				text-align: left;
				vertical-align: middle;
				font-weight: normal;
				line-height: 35px;
			}

				.sidebar ul li .link i {
					position: absolute;
					top: 5px;
					left: 0;
					text-align: center;
					font-size: 1.6em;
					margin-bottom: 5px;
					width: 50px;
					color: darken($border-grey, 30);
				}

					.sidebar ul li.post .link i {
						top: 27px;
						color: $white;
					}

				.sidebar ul li .link span {
					padding-left: 5px;
					color: darken($border-grey, 25);
				}

					.sidebar ul li.post .link span {
						color: $white;
					}

				.sidebar ul li .link .user-img-sidebar {
					margin: 0 auto 5px auto;
				}