.box .action-buttons {
	display: inline-block;
	@include corners();
	height: 26px;
	border: 1px solid $border-grey;
	padding: 0;
}

	.box .action-buttons.green {
		border: none;
	}

		.box .action-buttons.green a {
			@include gradient($secondary);
			box-shadow: inset 0 1px 0 0 lighten($secondary, 15);
			border: 1px solid darken($secondary, 5);
			color: $white;
			@include corners();
			line-height: 1.4em;
		}

			.box .action-buttons.green a:hover, .box .action-buttons.green a:focus, .box .action-buttons.green a:active {
				@include gradient($secondary, darken($secondary, 5));
				border: 1px solid darken($secondary, 7);
				color: $white;
				@include corners();
			}

			.box .action-buttons.green a:active {
				box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
			}

	.box .action-buttons.comment {
		height: 20px;
	}


		.box .action-buttons.comment a {
			background: $light-grey !important;
		}

	.box .action-buttons a {
		display: block;
		height: 100%;
		background: $white;
		color: $dark-grey;
		padding: 2px 5px;
		float: left;
		text-align: center;
		font-size: 0.9em;
		line-height: 0.9em;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0;
	}

		.box .action-buttons a.first {
			border-right: 1px solid $border-grey;
		}

		.box .action-buttons a.last {
			border-left: 1px solid $white;
		}

		.box .action-buttons.comment a {
			font-size: 0.7em;
			line-height: 0.7em;
		}

		.box .action-buttons a:hover, .box .action-buttons a:focus, .box .action-buttons a:active {
			color: $secondary;
		}

		.box .action-buttons a i {
			font-size: 1.2em;
		}