.box .action-buttons {
	display: inline-block;
	@include corners();
	border: 1px solid $border-grey;
	padding: 0;
}

	.box .action-buttons a {
		background: $light-grey;
		color: $dark-grey;
		padding: 2px 5px;
		float: left;
		text-align: center;
		font-size: 0.9em;
		line-height: 0.9em;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0;
	}

		.box .action-buttons.comment a {
			font-size: 0.7em;
			line-height: 0.7em;
		}

		.box .action-buttons a:hover, .box .action-buttons a:focus, .box .action-buttons a:active {
			color: $highlight;
		}

		.box .action-buttons a i {
			font-size: 1.2em;
		}

		.box .action-buttons a:first-child {
			@include corners(3px, 0, 0, 3px);
		}

		.box .action-buttons a:not(:first-child) {
			border-left: 1px solid $white;
		}

		.box .action-buttons a:last-child {
			@include corners(0, 3px, 3px, 0);
		}

		.box .action-buttons a:not(:last-child) {
			border-right: 1px solid $border-grey;
		}

		.box .action-buttons a:only-child {
			@include corners();
		}