.box {
	background: $white;
	border: 1px solid $border-grey;
	color: $dark-grey;
	@include corners();
	overflow: hidden;
}

	.box .header {
		width: 100%;
		background: $blue;
		color: $white;
		@include corners(3px, 3px, 0, 0);
		line-height: 2.3em;
	}

		.box .header a, .box .header a:hover, .box .header a:focus, .box .header a:active {
			color: $white !important;
		}

	.box.top-highlight {
		border-top: 3px solid $blue;
	}