.box {
	background: $white;
	border: 1px solid $border-grey;
	color: $dark-grey;
	@include corners();
	position: relative;
}

	.box .header, .box .event-header {
		position: relative;
		width: 100%;
		background: $primary;
		color: $white;
		@include corners(3px, 3px, 0, 0);
		line-height: 2.3em;
	}

		.box .event-header:hover, .box .event-header:focus {
			background: lighten($primary, 5);
		}

	.box.top-highlight {
		border-top: 3px solid $primary;
	}

	.box .block-link {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
		top: 0;
		left: 0;
	}