.btn {
	@include corners();
	@include gradient($highlight);
	color: $white;
	display: inline-block;
	height: 35px;
	line-height: 25px;
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 4px 10px;
	cursor: pointer;
	border: 1px solid $highlight;
}

.btn:hover, .btn:active, .btn:focus {
	color: $white;
	@include gradient($highlight, darken($highlight, 3));
	border: 1px solid darken($highlight, 5);
}