@mixin user-img($size) {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: $size;
	width: $size;
	@include corners($size, $size, $size, $size);
	position: relative;
}

.user-img-modal {
	@include user-img(45px);
	display: inline-block;
}

.user-img-comment {
	@include user-img(60px);
}

.user-img-going {
	@include user-img(35px);
	display: inline-block;
}

.user-img-subcomment {
	@include user-img(40px);
}

.user-img-event, .user-img-subscriptions {
	@include user-img(70px);
}

	.user-img-subscriptions {
		display: inline-block;
		@extend .nudge-half--sides;
	}

	.user-img-subscriptions .remove {
		background: $dark-grey;
		color: $white;
		height: 15px;
		width: 15px;
		@include corners(15px, 15px, 15px, 15px);
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		font-size: 0.8em;
		line-height: 1.2em;
		display: none;
	}

	.user-img-subscriptions:hover .remove {
		display: block;
	}

	.user-img-comment a, .user-img-event a, .user-img-subcomment a, .user-img-going a, .user-img-subscriptions a, .user-img-modal a {
		display: block;
		height: 100%;
		width: 100%;
	}

.user-img-profile {
	@include user-img(90px);
}

.user-img-settings {
	@include user-img(120px);
}

.event-img {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	@include corners();
	width: 100%;
	height: 200px;
	overflow: hidden;
}