@mixin user-img($size) {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: $size;
	width: $size;
	@include corners($size, $size, $size, $size);
}

.user-img-sidebar {
	@include user-img(45px);
}

.user-img-post {
	@include user-img(60px);
}

.event-img {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	@include corners();
	width: 100%;
	height: 200px;
	overflow: hidden;
}