.input-prepend {
	@include corners();
	display: block;
	line-height: 33px;
	@extend .clearfix;
}
	
	.input-prepend .icon {
		background: $primary;
		color: $white;
		@include corners(3px, 0, 0, 3px);
		display: inline-block;
		vertical-align: top;
		height: 33px;
		width: 33px;
		line-height: 33px;
		text-align: center;
		float: left;
	}

@mixin input-prepend-input($width) {
	display: inline-block;
	vertical-align: top;
	color: $dark-grey;
	@include corners(0, 3px, 3px, 0);
	height: 33px;
	float: left;
	width: $width;
	border-width: 1px 1px 1px 0;
}

	.input-prepend input {
		@include input-prepend-input(250px);
	}

		.input-prepend input.search {
			@include input-prepend-input(300px);
		}

.input-prepend.full {
	width: 100%;
	display: block;
}

	.input-prepend.full input {
		@include input-prepend-input(250px);
		width: -webkit-calc(100% - 33px);
		width: -moz-calc(100% - 33px);
		width: calc(100% - 33px);
	}

input.foursquare {
	background: #fff url('../img/foursquare.png') no-repeat 98% 5px; 
}

	input.foursquare:focus, input.foursquare:active {
		background: #fff;
	}