.input-prepend {
	@include corners();
	border: 1px solid $border-grey;
	display: inline-block;
	line-height: 33px;
}
	
	.input-prepend .icon {
		background: $dark-grey;
		color: $white;
		@include corners(3px, 0, 0, 3px);
		display: inline-block;
		vertical-align: top;
		height: 33px;
		width: 33px;
		line-height: 33px;
		text-align: center;
	}

@mixin input-prepend-input($width) {
	display: inline-block;
	vertical-align: top;
	border: none;
	color: $dark-grey;
	@include corners(0, 3px, 3px, 0);
	height: 33px;
	margin-left: -4px;
	width: $width;
}

	.input-prepend input {
		@include input-prepend-input(250px);
	}

		.input-prepend input.search {
			@include input-prepend-input(300px);
		}