.sidebar {
	width: 100px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: $dark-grey;
	font-weight: bold;
	font-size: 1em;
}

	.sidebar ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		-webkit-padding-start: 0px;
		@extend .full-width;
		@extend .full-height;
	}

		.sidebar ul li {
			@extend .full-width;
			height: 100px;
			margin: 0;
			@include gradient($dark-grey);
			display: table;
		}

			.sidebar ul li:hover, .sidebar ul li:focus, .sidebar ul li:active {
				@include gradient($dark-grey, darken($dark-grey, 3));
			}

			.sidebar ul li.active {
				background: $light-grey;
			}

				.sidebar ul li.active .link {
					color: $dark-grey;
				}

			.sidebar ul li.post {
				@include gradient($highlight);
			}

				.sidebar ul li.post:hover, .sidebar ul li.post:active, .sidebar ul li.post:focus {
					@include gradient($highlight, darken($highlight, 3));
				}

				.sidebar ul li.post.active {
					background: $white;
				}

					.sidebar ul li.post.active .link {
						color: $highlight;
					}

			.sidebar ul li.solo {
				background: $light-grey;
			}

				.sidebar ul li.solo .link {
					color: $highlight;
				}

			.sidebar ul .bottom {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}

			.sidebar ul li .link {
				@extend .td;
				@extend .full-width;
				@extend .full-height;
				vertical-align: middle;
				@extend .text-center;
				color: $light-grey;
			}

				.sidebar ul li .link i {
					font-weight: normal;
					font-size: 1.6em;
					display: block;
					margin-bottom: 5px;
				}

				.sidebar ul li .link .user-img-sidebar {
					margin: 0 auto 5px auto;
				}